Repository litestar-org/litestar, pull requests merged in 2022-08, with the labels that each got.

#334 Enhancement: Piccolo-ORM Plugin
  .gitignore
  .pre-commit-config.yaml
  README.md
  docs/index.md
  docs/usage/10-plugins.md
  docs/usage/10-plugins/0-plugins-intro.md
  docs/usage/10-plugins/1-sql-alchemy-plugin.md
  docs/usage/10-plugins/2-tortoise-orm-plugin.md
  docs/usage/10-plugins/3-piccolo-orm-plugin.md
  docs/usage/11-data-transfer-objects.md
  docs/usage/8-authentication.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  starlite/plugins/piccolo_orm.py
  tests/conftest.py
  tests/middleware/test_compression_middleware.py
  tests/piccolo_conf.py
  tests/plugins/piccolo_orm/__init__.py
  tests/plugins/piccolo_orm/endpoints.py
  tests/plugins/piccolo_orm/piccolo_app.py
  tests/plugins/piccolo_orm/tables.py
  tests/plugins/piccolo_orm/test_piccolo_orm_plugin_integration.py
  tests/plugins/piccolo_orm/test_piccolo_orm_plugin_openapi_specs.py
  tests/plugins/tortoise_orm/test_tortoise_orm_plugin_openapi_specs.py
Labels: enhancement

#320 Enhancement: Picologging Support
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  docs/usage/0-the-starlite-app/4-logging.md
  mypy.ini
  poetry.lock
  pyproject.toml
  starlite/logging.py
  starlite/logging/__init__.py
  starlite/logging/picologging.py
  starlite/logging/standard.py
  tests/logging/__init__.py
  tests/logging/test_logging.py
  tests/logging/test_picologging.py
Labels: enhancement

#258 Documentation: Integrates `mkdocstrings` into docs config.
  .github/workflows/docs.yaml
  .prettierignore
  docs/reference/app.md
  docs/reference/cache.md
  docs/reference/config.md
  docs/reference/connection.md
  docs/reference/controller.md
  docs/reference/datastructures.md
  docs/reference/dto.md
  docs/reference/enums.md
  docs/reference/exceptions.md
  docs/reference/handlers.md
  docs/reference/important.md
  docs/reference/logging.md
  docs/reference/middleware.md
  docs/reference/openapi.md
  docs/reference/params.md
  docs/reference/plugins.md
  docs/reference/provide.md
  docs/reference/response.md
  docs/reference/router.md
  docs/reference/template.md
  docs/reference/testing.md
  docs/reference/types.md
  docs/usage/0-the-starlite-app/0-the-starlite-app.md
  docs/usage/1-routing/0-routing.md
  docs/usage/7-middleware.md
  docs/usage/9-guards.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  starlite/app.py
  starlite/config.py
  starlite/middleware/compression/brotli.py
Labels: documentation, enhancement

#340 Issue #296 - add CSRF middleware
  docs/usage/7-middleware.md
  starlite/app.py
  starlite/config.py
  starlite/middleware/__init__.py
  starlite/middleware/csrf.py
  starlite/testing.py
  tests/middleware/test_csrf.py
Labels: enhancement

#365 Issue #363: Uploadfile OpenAPI generation raises an exception
  docs/reference/datastructures.md
  docs/usage/4-request-data/3-multipart-form-data.md
  starlite/__init__.py
  starlite/datastructures.py
  starlite/openapi/schema.py
  starlite/parsers.py
  tests/kwargs/test_multipart_data.py
  tests/openapi/test_request_body.py
Labels: bug

#362 Issue-#361: Fix stream 'iterator' typing
  docs/reference/datastructures.md
  docs/usage/4-request-data/3-multipart-form-data.md
  docs/usage/5-responses/8-streaming-responses.md
  starlite/__init__.py
  starlite/datastructures.py
  starlite/openapi/schema.py
  starlite/parsers.py
  tests/handlers/http/test_to_response.py
  tests/kwargs/test_multipart_data.py
  tests/openapi/test_request_body.py
Labels: bug

#379 Refactor: Update middleware handling and docs
  .pre-commit-config.yaml
  docs/index.md
  docs/reference/middleware.md
  docs/reference/types.md
  docs/reference/typing.md
  docs/usage/0-the-starlite-app/0-the-starlite-app.md
  docs/usage/1-routing/2-routers.md
  docs/usage/1-routing/3-controllers.md
  docs/usage/11-data-transfer-objects.md
  docs/usage/5-responses/9-template-responses.md
  docs/usage/6-dependency-injection/1-dependency-kwargs.md
  docs/usage/7-middleware.md
  docs/usage/7-middleware/0-middleware-intro.md
  docs/usage/7-middleware/1-using-middleware/0-using-middleware-intro.md
  docs/usage/7-middleware/1-using-middleware/1-layering-middleware.md
  docs/usage/7-middleware/1-using-middleware/2-middleware-call-order.md
  docs/usage/7-middleware/1-using-middleware/3-define-middleware.md
  docs/usage/7-middleware/1-using-middleware/4-middleware-and-exceptions.md
  docs/usage/7-middleware/2-creating-middleware/0-creating-middleware-intro.md
  docs/usage/7-middleware/2-creating-middleware/1-using-basehttp-middleware.md
  docs/usage/7-middleware/2-creating-middleware/2-using-middleware-protocol.md
  docs/usage/7-middleware/3-builtin-middlewares/0-builtin-middlewares-intro.md
  docs/usage/7-middleware/3-builtin-middlewares/1-cors-middleware.md
  docs/usage/7-middleware/3-builtin-middlewares/2-allowed-hosts-middleware.md
  docs/usage/7-middleware/3-builtin-middlewares/3-csrf-middleware.md
  docs/usage/7-middleware/3-builtin-middlewares/4-compression-middleware.md
  docs/usage/8-authentication.md
  mkdocs.yml
  poetry.lock
  starlite/__init__.py
  starlite/app.py
  starlite/config/compression.py
  starlite/middleware/__init__.py
  starlite/middleware/authentication.py
  starlite/middleware/base.py
  starlite/middleware/compression/base.py
  starlite/middleware/csrf.py
  starlite/middleware/exceptions.py
  starlite/router.py
  starlite/types.py
  starlite/typing.py
  tests/middleware/test_authentication.py
  tests/middleware/test_csrf.py
  tests/middleware/test_exception_handler_middleware.py
  tests/middleware/test_middleware_handling.py
  tests/plugins/tortoise_orm/__init__.py
  tests/route/test_route_map.py
  tests/test_typing.py
Labels: documentation, enhancement

#386 Issue #385 cache is not thread safe
  README.md
  docs/reference/cache.md
  docs/reference/config.md
  poetry.lock
  starlite/app.py
  starlite/cache/__init__.py
  starlite/cache/base.py
  starlite/cache/simple_cache_backend.py
  starlite/config/cache.py
  starlite/dto.py
  starlite/handlers/http.py
  starlite/routes/http.py
  starlite/utils/predicates.py
  tests/caching/test_async_caching.py
  tests/caching/test_cache_wrapper.py
  tests/caching/test_config_validation.py
  tests/caching/test_response_caching.py
  tests/caching/test_simple_cache_backend.py
  tests/conftest.py
  tests/test_controller.py
Labels: enhancement
