Repository litestar-org/litestar, pull requests merged in 2023-12, with the labels that each got.

#2810 fix: event handler error breaks stream
  litestar/events/emitter.py
  tests/unit/test_events.py
Labels: bug

#2814 fix: concurrent event listener execution
  litestar/events/emitter.py
  litestar/events/listener.py
Labels: bug

#2797 fix: openapi schema for pydantic computed fields
  litestar/_openapi/schema_generation/schema.py
  litestar/contrib/pydantic/pydantic_schema_plugin.py
  litestar/contrib/pydantic/utils.py
  litestar/params.py
  tests/unit/test_contrib/test_pydantic/test_openapi.py
Labels: bug

#2805 refactor: refactor openapi schema generation
  litestar/_openapi/datastructures.py
  litestar/_openapi/parameters.py
  litestar/_openapi/path_item.py
  litestar/_openapi/plugin.py
  litestar/_openapi/request_body.py
  litestar/_openapi/responses.py
  litestar/_openapi/schema_generation/schema.py
  litestar/_openapi/schema_generation/utils.py
  litestar/_signature/model.py
  litestar/app.py
  litestar/di.py
  litestar/handlers/base.py
  litestar/handlers/http_handlers/base.py
  litestar/plugins/base.py
  tests/unit/test_app.py
  tests/unit/test_cli/test_env_resolution.py
  tests/unit/test_handlers/test_base_handlers/test_resolution.py
  tests/unit/test_openapi/test_parameters.py
  tests/unit/test_openapi/test_path_item.py
  tests/unit/test_openapi/test_request_body.py
  tests/unit/test_openapi/test_responses.py
Labels: refactor

#2841 fix: components schema key names
  litestar/_openapi/datastructures.py
  litestar/_openapi/parameters.py
  litestar/_openapi/plugin.py
  litestar/_openapi/responses.py
  litestar/_openapi/schema_generation/schema.py
  litestar/_openapi/schema_generation/utils.py
  tests/examples/test_openapi.py
  tests/helpers.py
  tests/unit/test_contrib/test_attrs/test_schema_plugin.py
  tests/unit/test_contrib/test_attrs/test_schema_spec_generation.py
  tests/unit/test_contrib/test_piccolo_orm/test_piccolo_orm_dto.py
  tests/unit/test_contrib/test_pydantic/test_openapi.py
  tests/unit/test_contrib/test_pydantic/test_schema_plugin.py
  tests/unit/test_dto/test_factory/test_backends/test_backends.py
  tests/unit/test_openapi/test_integration.py
  tests/unit/test_openapi/test_parameters.py
  tests/unit/test_openapi/test_path_item.py
  tests/unit/test_openapi/test_request_body.py
  tests/unit/test_openapi/test_responses.py
  tests/unit/test_openapi/test_schema.py
  tests/unit/test_openapi/test_spec_generation.py
  tests/unit/test_pagination.py
Labels: bug, compatibility

#2868 refactor: use OpenAPISchemaPlugin for all supported complex types
  litestar/_openapi/schema_generation/__init__.py
  litestar/_openapi/schema_generation/plugins/__init__.py
  litestar/_openapi/schema_generation/plugins/dataclass.py
  litestar/_openapi/schema_generation/plugins/pagination.py
  litestar/_openapi/schema_generation/plugins/struct.py
  litestar/_openapi/schema_generation/plugins/typed_dict.py
  litestar/_openapi/schema_generation/schema.py
  litestar/app.py
  litestar/plugins/base.py
  tests/helpers.py
  tests/unit/test_dto/test_factory/test_backends/test_backends.py
  tests/unit/test_openapi/test_responses.py
  tests/unit/test_openapi/test_schema.py
Labels: Refactor, OpenAPI

#2865 docs: sponsors update
  README.md
  docs/PYPI_README.md
  docs/index.rst
Labels: Documentation :books:, Meta

#2869 fix: recursive schema generation
  litestar/_openapi/datastructures.py
  litestar/_openapi/schema_generation/plugins/dataclass.py
  litestar/_openapi/schema_generation/plugins/struct.py
  litestar/_openapi/schema_generation/plugins/typed_dict.py
  litestar/_openapi/schema_generation/schema.py
  litestar/contrib/attrs/attrs_schema_plugin.py
  litestar/contrib/pydantic/pydantic_schema_plugin.py
  tests/unit/test_openapi/test_datastructures.py
  tests/unit/test_openapi/test_schema.py
  tests/unit/test_openapi/test_spec_generation.py
Labels: Bug :bug:, Refactor, OpenAPI

#2903 fix: support for empty payload data
  litestar/_kwargs/extractors.py
  litestar/routes/http.py
  tests/unit/test_dto/test_factory/test_integration.py
  tests/unit/test_kwargs/test_json_data.py
  tests/unit/test_kwargs/test_msgpack_data.py
Labels: Bug :bug:, DTOs, (De)serialization

#2915 fix: support `Response[None]` for 204 handler
  litestar/handlers/http_handlers/_utils.py
  litestar/handlers/http_handlers/base.py
  tests/unit/test_handlers/test_http_handlers/test_validations.py
Labels: Bug :bug:, Typing, Responses
