Repository litestar-org/litestar, pull requests merged in 2023-03, with the labels that each got.

#1230 Infra: Run limited tests on Windows and MacOS
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
  tests/utils/test_serialization.py
Labels: Infrastructure

#1288 fix(docs): typo in core Starlite app
  starlite/app.py
Labels: documentation

#1309 Remove unused Ruff ruleset
  pyproject.toml
Labels: Infrastructure

#1314 chore(ci): ruff should be run before all other formatting tools
  .pre-commit-config.yaml
Labels: Infrastructure

#1321 chore: update docstrings to use new exception error class name
  starlite/contrib/repository/abc.py
  starlite/contrib/repository/testing/generic_mock_repository.py
  starlite/contrib/sqlalchemy/repository.py
Labels: documentation

#1327 fix: add granular noqa to allow linting to catch other issues
  starlite/contrib/sqlalchemy_1/config.py
Labels: ci

#1329 Various refactors.
  starlite/_signature/parsing.py
  starlite/_signature/utils.py
  starlite/handlers/http_handlers/base.py
  starlite/response/base.py
  starlite/serialization.py
  starlite/types/protocols.py
  starlite/utils/pydantic.py
Labels: refactor

#1333 fix(ci): revert ruleset change introduced in #1306
  pyproject.toml
Labels: ci

#1343 Migrate to GitHub Issues new forms
  .github/ISSUE_TEMPLATE/BUG.yaml
  .github/ISSUE_TEMPLATE/DOCS.yaml
  .github/ISSUE_TEMPLATE/REQUEST.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#1348 fix: pin poetry to 1.4.0 in CI
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
Labels: ci
