Repository litestar-org/litestar, pull requests merged in 2023-05, with the labels that each got.

#1661 Tests: Add missing aiosqlite marker
  pyproject.toml
Labels: tests-issue

#1662 Infra: Set a timout for test workflow
  .github/workflows/test.yaml
Labels: Infrastructure, tests-issue

#1654 Feature DTO factory tutorial
  docs/examples/data_transfer_objects/factory/patch_requests.py
  docs/examples/data_transfer_objects/factory/tutorial/__init__.py
  docs/examples/data_transfer_objects/factory/tutorial/controller.py
  docs/examples/data_transfer_objects/factory/tutorial/dto_data.py
  docs/examples/data_transfer_objects/factory/tutorial/explicit_field_renaming.py
  docs/examples/data_transfer_objects/factory/tutorial/field_renaming_strategy.py
  docs/examples/data_transfer_objects/factory/tutorial/initial_pattern.py
  docs/examples/data_transfer_objects/factory/tutorial/max_nested_depth.py
  docs/examples/data_transfer_objects/factory/tutorial/multiple_handlers.py
  docs/examples/data_transfer_objects/factory/tutorial/nested_collection_exclude.py
  docs/examples/data_transfer_objects/factory/tutorial/nested_exclude.py
  docs/examples/data_transfer_objects/factory/tutorial/patch_handlers.py
  docs/examples/data_transfer_objects/factory/tutorial/put_handlers.py
  docs/examples/data_transfer_objects/factory/tutorial/read_only_fields_error.py
  docs/examples/data_transfer_objects/factory/tutorial/simple_dto_exclude.py
  docs/examples/data_transfer_objects/factory/tutorial/simple_receiving_data.py
  docs/examples/tests/data_transfer_objects/factory/__init__.py
  docs/examples/tests/data_transfer_objects/factory/test_tutorial.py
  docs/tutorials/dto-tutorial/01-simple-dto-exclude.rst
  docs/tutorials/dto-tutorial/02-nested-exclude.rst
  docs/tutorials/dto-tutorial/03-nested-collection-exclude.rst
  docs/tutorials/dto-tutorial/04-max-nested-depth.rst
  docs/tutorials/dto-tutorial/05-renaming-fields.rst
  docs/tutorials/dto-tutorial/06-receiving-data.rst
  docs/tutorials/dto-tutorial/07-read-only-fields.rst
  docs/tutorials/dto-tutorial/08-dto-data.rst
  docs/tutorials/dto-tutorial/09-updating.rst
  docs/tutorials/dto-tutorial/10-layered-dto-declarations.rst
  docs/tutorials/dto-tutorial/images/dto_data.png
  docs/tutorials/dto-tutorial/images/explicit_field_renaming.png
  docs/tutorials/dto-tutorial/images/field_renaming_strategy.png
  docs/tutorials/dto-tutorial/images/initial_pattern.png
  docs/tutorials/dto-tutorial/images/max_nested_depth.png
  docs/tutorials/dto-tutorial/images/nested_collection_exclude.png
  docs/tutorials/dto-tutorial/images/nested_exclude.png
  docs/tutorials/dto-tutorial/images/patch_handlers.png
  docs/tutorials/dto-tutorial/images/put_handlers.png
  docs/tutorials/dto-tutorial/images/read_only_fields_error.png
  docs/tutorials/dto-tutorial/images/simple_exclude.png
  docs/tutorials/dto-tutorial/images/simple_receive_data.png
  docs/tutorials/dto-tutorial/index.rst
  docs/tutorials/index.rst
  docs/usage/dto/1-dto-factory.rst
  docs/usage/dto/index.rst
  litestar/dto/factory/data_structures.py
  pyproject.toml
Labels: documentation
