Repository litestar-org/litestar, pull requests merged in 2023-04, with the labels that each got.

#1439 Add Note/Announcement about Rename to Litestar
  README.md
  docs/index.rst
Labels: meta

#1432 A parsed signature datastructure.
  docs/conf.py
  docs/examples/tests/plugins/test_sqlalchemy_init_plugin.py
  starlite/_openapi/responses.py
  starlite/_signature/models/attrs_signature_model.py
  starlite/_signature/models/base.py
  starlite/_signature/models/pydantic_signature_model.py
  starlite/_signature/parsing/__init__.py
  starlite/_signature/parsing/signature_parameter.py
  starlite/_signature/parsing/utils.py
  starlite/_signature/utils.py
  starlite/app.py
  starlite/handlers/asgi_handlers.py
  starlite/handlers/base.py
  starlite/handlers/http_handlers/base.py
  starlite/handlers/http_handlers/decorators.py
  starlite/handlers/websocket_handlers.py
  starlite/routes/base.py
  starlite/types/parsed_signature.py
  starlite/utils/signature_parsing.py
  starlite/utils/typing.py
  tests/handlers/asgi/test_validations.py
  tests/handlers/http/test_head.py
  tests/handlers/http/test_media_type.py
  tests/handlers/http/test_to_response.py
  tests/handlers/http/test_validations.py
  tests/handlers/websocket/test_validations.py
  tests/openapi/test_parameters.py
  tests/signature/test_parsing.py
  tests/signature/test_utils.py
  tests/types/__init__.py
  tests/types/test_parsed_signature.py
  tests/utils/test_signature_parsing.py
  tests/utils/test_typing.py
Labels: enhancement, refactor, typing

#1441 🍴's need love too. Update CI to only run Snyk & Sonar on upstream
  .github/workflows/ci.yaml
Labels: ci
