Repository litestar-org/litestar, pull requests merged in 2024-07, with the labels that each got.

#3615 fix(OpenAPI): Correctly handle Annotated NewType
  litestar/_openapi/schema_generation/schema.py
  tests/unit/test_openapi/test_parameters.py
Labels: Triage Required :hospital:, pr/external, size: small, area/private-api, type/bug

#3610 docs: fix typos in examples.contrib.prometheus
  docs/examples/contrib/prometheus/using_prometheus_exporter_with_extra_configs.py
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3618 docs: fixed create_ws_route_handlers typo.
  docs/usage/channels.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3608 feat(Pydantic): added parameters in pydantic plugin to support strict validation and all the `model_dump` args
  litestar/contrib/pydantic/__init__.py
  litestar/contrib/pydantic/pydantic_init_plugin.py
  litestar/types/serialization.py
  tests/unit/test_contrib/test_pydantic/test_integration.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, type/feat, area/types

#3626 fix: use `ASGIConnection` instead of `Request` for `flash`
  litestar/plugins/flash.py
Labels: pr/internal, size: small, type/bug, area/plugins

#3629 docs: fix link to available issues
  docs/index.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs

#3638 chore: Port fix for #3593 to v3
  litestar/handlers/http_handlers/base.py
  litestar/handlers/websocket_handlers/route_handler.py
Labels: pr/internal, size: small

#3641 fix(handlers): Allow returning `Response[None]` from head route handlers
  litestar/handlers/http_handlers/decorators.py
  tests/unit/test_handlers/test_http_handlers/test_head.py
Labels: pr/internal, size: small, type/bug

#3648 chore(release): Release new minor version 2.10.0
  docs/release-notes/changelog.rst
  pyproject.toml
  tools/prepare_release.py
Labels: pr/internal, size: small, area/docs, area/dependencies

#3639 fix(connection): Fix creation of FormMultiDict in Request.form to properly handle multi-keys
  litestar/connection/request.py
  tests/unit/test_connection/test_request.py
  tests/unit/test_kwargs/test_multipart_data.py
Labels: pr/internal, size: small, type/bug, area/connection
