Repository litestar-org/litestar, pull requests merged in 2024-05, with the labels that each got.

#3462 chore(infra): remove poetry in devcontainer.json
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: pr/internal, size: small

#3434 chore: update copyright notice year
  LICENSE
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small

#3476 fix(pydantic v1): field not optional if default value
  litestar/contrib/pydantic/pydantic_schema_plugin.py
  tests/e2e/test_pydantic.py
Labels: pr/internal, size: small, type/bug

#3474 chore(release): prepare release v2.8.3
  docs/release-notes/changelog.rst
  litestar/static_files/base.py
  pyproject.toml
  tests/e2e/test_routing/test_path_resolution.py
  tests/unit/test_static_files/test_file_serving_resolution.py
  tests/unit/test_static_files/test_static_files_validation.py
  tools/prepare_release.py
Labels: pr/internal, size: small, area/docs, area/dependencies, area/static-files

#3480 fix(tests): windows compat error
  tests/unit/test_static_files/test_static_files_validation.py
Labels: pr/internal, size: small, type/bug

#3479 fix: prevent starting multiple responses
  litestar/middleware/_internal/exceptions/middleware.py
  litestar/utils/scope/state.py
  tests/unit/test_middleware/test_exception_handler_middleware.py
Labels: pr/internal, size: small, type/bug

#3478 fix: logging middleware with multi-body response
  litestar/middleware/logging.py
  tests/e2e/test_middleware/test_logging_middleware_with_multi_body_response.py
Labels: pr/internal, size: small, type/bug, area/middleware

#3483 chore(citations): fix file so it can be parsed
  CITATION.cff
Labels: pr/internal, size: small

#3484 chore: upgrade deps and tools
  .pre-commit-config.yaml
  litestar/cli/__init__.py
  litestar/cli/_utils.py
  litestar/contrib/jinja.py
  litestar/contrib/mako.py
  litestar/contrib/minijinja.py
  litestar/middleware/_internal/exceptions/middleware.py
  litestar/plugins/base.py
  litestar/testing/transport.py
  pdm.lock
  tests/unit/test_cli/test_cli.py
  tests/unit/test_contrib/test_pydantic/test_integration.py
Labels: pr/internal, area/private-api, area/dependencies, area/plugins, area/contrib, size: medium, area/testing

#3486 fix(dto): handle dto type nested in mapping
  litestar/dto/_backend.py
  litestar/dto/_codegen_backend.py
  tests/unit/test_dto/test_factory/test_backends/test_backends.py
Labels: pr/internal, size: small, area/private-api, type/bug, area/dto

#3490 chore: update maintainer emails
  pyproject.toml
Labels: pr/internal, size: small, area/dependencies

#3491 chore: unpin Advanced Alchemy
  docs/conf.py
  litestar/pagination.py
  litestar/plugins/sqlalchemy.py
  pdm.lock
  pyproject.toml
  tests/unit/test_plugins/test_sqlalchemy.py
  tests/unit/test_repository/models_bigint.py
  tests/unit/test_repository/models_uuid.py
Labels: pr/internal, size: small, area/docs, area/dependencies, area/plugins

#3497 fix: avoid failure due to timing
  tests/unit/test_contrib/test_pydantic/test_plugin_serialization.py
Labels: pr/external, pr/internal, size: small, type/bug

#3502 docs: TYPE_CHECKING for injected types
  docs/usage/dependency-injection.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3475 docs: SQLAlchemyInitPlugin to SQLAlchemyPlugin fixes SerializationException for docs
  docs/examples/contrib/sqlalchemy/sqlalchemy_declarative_models.py
  pyproject.toml
  tests/examples/test_contrib/test_sqlalchemy/test_sqlalchemy_examples.py
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, area/dependencies, type/docs

#3510 fix: examples omitted in schema produced by dto
  litestar/dto/base_dto.py
  tests/unit/test_dto/test_factory/test_integration.py
Labels: pr/internal, size: small, type/bug, area/dto

#3512 docs: use mapped_column
  docs/usage/security/abstract-authentication-middleware.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3519 fix(validation): fix handling validation of subscribed generics
  litestar/_signature/model.py
  litestar/serialization/msgspec_hooks.py
  tests/unit/test_signature/test_validation.py
Labels: pr/internal, size: small, area/private-api, type/bug, area/serialization, area/signature

#3509 fix: exclude static file from schema
  litestar/static_files/config.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, type/bug, area/static-files

#3521 ci: Fix pull request labeller job
  .github/workflows/pr-labeler.yml
Labels: pr/internal, area/ci, size: small

#3511 fix: use re.match instead of re.search for mounted app path (#3501)
  litestar/_asgi/routing_trie/traversal.py
  tests/unit/test_asgi/test_routing_trie/test_traversal.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/private-api, type/bug

#3524 fix: Port CVE-2024-32982 path traversal fix to v3.0
  litestar/static_files.py
  tests/unit/test_static_files/test_file_serving_resolution.py
  tests/unit/test_static_files/test_static_files_validation.py
Labels: pr/internal, size: small, type/bug

#3439 feat: Deprecate subclassing route handler decorators
  docs/conf.py
  litestar/handlers/http_handlers/decorators.py
  tests/unit/test_handlers/test_http_handlers/test_deprecation.py
Labels: pr/internal, size: small, area/docs, type/feat

#3527 refactor: Remove special casing of controllers during registration
  litestar/controller.py
  litestar/router.py
  tests/e2e/test_life_cycle_hooks/test_after_response.py
Labels: pr/internal, size: small, area/router, area/controller

#3529 test: Remove test for warnings when subclassing route handler decorators
  tests/unit/test_handlers/test_http_handlers/test_deprecation.py
Labels: pr/internal, size: small

#3530 docs: updated example for flash messages
  docs/examples/plugins/flash_messages/jinja.py
  docs/examples/plugins/flash_messages/mako.py
  docs/examples/plugins/flash_messages/minijinja.py
  docs/examples/plugins/flash_messages/usage.py
  docs/usage/plugins/flash_messages.rst
Labels: pr/internal, size: small, area/docs

#3531 fix: updated type signature for `flash`
  litestar/plugins/flash.py
Labels: pr/internal, size: small, type/bug, area/plugins

#3514 docs: 3442 response cache
  docs/examples/caching/__init__.py
  docs/examples/caching/cache.py
  docs/examples/caching/key_builder.py
  docs/examples/caching/key_builder_for_route_handler.py
  docs/examples/caching/redis_store.py
  docs/usage/caching.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3507 fix(logging): do not log exceptions twice, deprecate `traceback_line_limit` and fix `pretty_print_tty`
  litestar/logging/config.py
  tests/unit/test_logging/test_logging_config.py
  tests/unit/test_logging/test_structlog_config.py
  tests/unit/test_middleware/test_exception_handler_middleware.py
Labels: Triage Required :hospital:, pr/external, size: small, type/bug, area/logging
