Repository litestar-org/litestar, pull requests merged in 2024-11, with the labels that each got.

#3824 chore(mypy): enable `truthy-bool` error code
  litestar/_openapi/schema_generation/schema.py
  litestar/_openapi/typescript_converter/converter.py
  litestar/security/base.py
  pyproject.toml
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/private-api, area/dependencies, area/security

#3847 docs: remove references to `python-jose`
  docs/usage/security/abstract-authentication-middleware.rst
  docs/usage/security/jwt.rst
  pyproject.toml
  tests/unit/test_contrib/test_opentelemetry.py
Labels: pr/internal, size: small, area/docs, area/dependencies, type/docs

#3855 fix: Duplicate `RateLimit-*` headers with caching
  litestar/middleware/rate_limit.py
  tests/unit/test_middleware/test_rate_limit_middleware.py
Labels: Triage Required :hospital:, pr/external, size: small, area/middleware

#3857 docs: Changing incorrect indentation in the code example "creating-middleware#inheriting-abstractmiddleware"
  docs/examples/middleware/base.py
  docs/usage/middleware/creating-middleware.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3856 docs: improve `openapi/index.rst` page
  docs/usage/openapi/index.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3849 docs: fix the description of when to use the synchronous function
  docs/topics/sync-vs-async.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3852 feat: deprecate `litestar.contrib.pydantic`
  .pre-commit-config.yaml
  docs/conf.py
  docs/reference/plugins/index.rst
  docs/reference/plugins/pydantic.rst
  docs/usage/dto/1-abstract-dto.rst
  docs/usage/routing/handlers.rst
  docs/usage/routing/overview.rst
  litestar/_openapi/schema_generation/examples.py
  litestar/app.py
  litestar/contrib/pydantic/__init__.py
  litestar/contrib/pydantic/pydantic_di_plugin.py
  litestar/contrib/pydantic/pydantic_dto_factory.py
  litestar/contrib/pydantic/pydantic_init_plugin.py
  litestar/contrib/pydantic/pydantic_schema_plugin.py
  litestar/contrib/pydantic/utils.py
  litestar/plugins/pydantic/__init__.py
  litestar/plugins/pydantic/dto.py
  litestar/plugins/pydantic/plugins/__init__.py
  litestar/plugins/pydantic/plugins/di.py
  litestar/plugins/pydantic/plugins/init.py
  litestar/plugins/pydantic/plugins/schema.py
  litestar/plugins/pydantic/utils.py
  pdm.lock
  pyproject.toml
  tests/unit/test_contrib/test_pydantic.py
  tests/unit/test_plugins/test_base.py
  tests/unit/test_plugins/test_pydantic/__init__.py
  tests/unit/test_plugins/test_pydantic/conftest.py
  tests/unit/test_plugins/test_pydantic/models.py
  tests/unit/test_plugins/test_pydantic/test_beanie_integration.py
  tests/unit/test_plugins/test_pydantic/test_dto.py
  tests/unit/test_plugins/test_pydantic/test_inject_pydantic.py
  tests/unit/test_plugins/test_pydantic/test_integration.py
  tests/unit/test_plugins/test_pydantic/test_openapi.py
  tests/unit/test_plugins/test_pydantic/test_plugin_serialization.py
  tests/unit/test_plugins/test_pydantic/test_pydantic_dto_factory.py
  tests/unit/test_plugins/test_pydantic/test_schema_plugin.py
  tests/unit/test_plugins/test_pydantic/test_utils.py
Labels: pr/internal, area/docs, area/private-api, area/dependencies, type/feat, size: large

#3860 docs: Added debug=True in Testing to display exception stack trace
  docs/examples/testing/test_get_session_data.py
  docs/examples/testing/test_get_session_data_async.py
  docs/examples/testing/test_health_check_async.py
  docs/examples/testing/test_health_check_sync.py
  docs/examples/testing/test_set_session_data.py
  docs/examples/testing/test_set_session_data_async.py
  docs/usage/testing.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3765 fix(typing): Fix typing in websocket listener class
  litestar/handlers/websocket_handlers/listener.py
  pyproject.toml
  tests/unit/test_handlers/test_websocket_handlers/test_listeners.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, type/bug, area/dependencies

#3863 feat: move `litestar.contrib.prometheus` to `litestar.plugins.prometheus`
  docs/examples/plugins/prometheus/__init__.py
  docs/examples/plugins/prometheus/using_prometheus_exporter.py
  docs/examples/plugins/prometheus/using_prometheus_exporter_with_extra_configs.py
  docs/reference/plugins/index.rst
  docs/reference/plugins/prometheus.rst
  docs/usage/metrics/prometheus.rst
  litestar/contrib/prometheus/__init__.py
  litestar/contrib/prometheus/config.py
  litestar/contrib/prometheus/controller.py
  litestar/contrib/prometheus/middleware.py
  litestar/plugins/prometheus/__init__.py
  litestar/plugins/prometheus/config.py
  litestar/plugins/prometheus/controller.py
  litestar/plugins/prometheus/middleware.py
  tests/examples/test_contrib/prometheus/test_prometheus_exporter_example.py
  tests/examples/test_contrib/prometheus/test_prometheus_exporter_example_with_extra_config.py
  tests/unit/test_contrib/test_prometheus.py
  tests/unit/test_plugins/test_prometheus.py
Labels: pr/internal, area/docs, type/feat, size: medium

#3870 fix: remove optional group for `litestar-htmx`
  .pre-commit-config.yaml
  pyproject.toml
Labels: pr/internal, size: small, area/dependencies, type/feat

#3862 feat: move `litestar.contrib.attrs` to `litestar.plugins.attrs`
  Makefile
  docs/conf.py
  docs/reference/plugins/attrs.rst
  docs/reference/plugins/index.rst
  litestar/contrib/attrs/__init__.py
  litestar/contrib/attrs/attrs_schema_plugin.py
  litestar/plugins/attrs.py
  tests/unit/test_contrib/test_attrs.py
  tests/unit/test_plugins/test_attrs/__init__.py
  tests/unit/test_plugins/test_attrs/test_inject_attrs_class.py
  tests/unit/test_plugins/test_attrs/test_schema_plugin.py
  tests/unit/test_plugins/test_attrs/test_schema_spec_generation.py
  tests/unit/test_plugins/test_attrs/test_signature.py
  tests/unit/test_plugins/test_base.py
Labels: pr/internal, area/docs, type/feat, area/plugins, size: medium

#3864 feat: add `future` flag to `experimental_features`
  litestar/config/app.py
  tests/unit/test_app.py
Labels: pr/internal, size: small, type/feat

#3874 fix(pydantic): Add moved URL types to type map
  litestar/middleware/_internal/exceptions/middleware.py
  litestar/plugins/pydantic/plugins/schema.py
  pdm.lock
  tests/unit/test_plugins/test_pydantic/test_pydantic_dto_factory.py
Labels: pr/internal, size: small, type/bug, area/dependencies

#3876 fix: patching of otel middleware to work with subclasses
  litestar/contrib/opentelemetry/plugin.py
Labels: Triage Required :hospital:, pr/external, size: small, type/bug

#3875 chore: Move to uv
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  CONTRIBUTING.rst
  Makefile
  pdm.lock
  pyproject.toml
  uv.lock
Labels: pr/internal, area/ci, size: small, area/docs, area/dependencies

#3872 feat(core): Streaming multipart parser
  litestar/_kwargs/extractors.py
  litestar/_multipart.py
  litestar/connection/request.py
  litestar/datastructures/upload_file.py
  pyproject.toml
  tests/unit/test_kwargs/test_multipart_data.py
  uv.lock
Labels: pr/internal, size: small, area/private-api, area/dependencies, type/feat, area/datastructures, area/kwargs, area/connection, area/multipart

#3880 fix: update Makefile
  Makefile
Labels: Triage Required :hospital:, pr/external, size: small, type/bug

#3879 fix(devcontainers): Replace PDM with UV
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: pr/internal, size: small, type/bug

#3838 fix: resource warnings
  litestar/_kwargs/extractors.py
  litestar/_multipart.py
  litestar/connection/request.py
  litestar/datastructures/multi_dicts.py
  litestar/datastructures/upload_file.py
  litestar/routes/http.py
  litestar/utils/scope/state.py
  pyproject.toml
  tests/e2e/test_routing/conftest.py
  tests/unit/test_datastructures/test_multi_dicts.py
  tests/unit/test_dto/test_factory/test_integration.py
  tests/unit/test_plugins/test_pydantic/test_beanie_integration.py
Labels: Triage Required :hospital:, pr/external, pr/internal, area/private-api, type/bug, area/dependencies, area/datastructures, size: medium, area/kwargs, area/connection, area/multipart

#3881 docs: fix advanced alchemy references
  docs/conf.py
  docs/examples/contrib/sqlalchemy/plugins/tutorial/full_app_with_plugin.py
  docs/tutorials/repository-tutorial/01-modeling-and-features.rst
  docs/tutorials/sqlalchemy/4-final-touches-and-recap.rst
  docs/usage/databases/sqlalchemy/plugins/sqlalchemy_init_plugin.rst
  docs/usage/databases/sqlalchemy/plugins/sqlalchemy_plugin.rst
  docs/usage/plugins/index.rst
Labels: pr/internal, size: small, area/docs, type/docs

#3884 feat: upgrade minimum `litestar-htmx` version
  .pre-commit-config.yaml
  litestar/contrib/attrs/__init__.py
  litestar/contrib/attrs/attrs_schema_plugin.py
  litestar/contrib/prometheus/__init__.py
  litestar/contrib/prometheus/config.py
  litestar/contrib/prometheus/controller.py
  litestar/contrib/prometheus/middleware.py
  litestar/contrib/pydantic/__init__.py
  litestar/contrib/pydantic/pydantic_di_plugin.py
  litestar/contrib/pydantic/pydantic_dto_factory.py
  litestar/contrib/pydantic/pydantic_init_plugin.py
  litestar/contrib/pydantic/pydantic_schema_plugin.py
  litestar/contrib/pydantic/utils.py
  litestar/contrib/sqlalchemy/__init__.py
  litestar/contrib/sqlalchemy/base.py
  litestar/contrib/sqlalchemy/dto.py
  litestar/contrib/sqlalchemy/plugins/__init__.py
  litestar/contrib/sqlalchemy/plugins/init/__init__.py
  litestar/contrib/sqlalchemy/plugins/init/config/__init__.py
  litestar/contrib/sqlalchemy/plugins/init/config/asyncio.py
  litestar/contrib/sqlalchemy/plugins/init/config/common.py
  litestar/contrib/sqlalchemy/plugins/init/config/engine.py
  litestar/contrib/sqlalchemy/plugins/init/config/sync.py
  litestar/contrib/sqlalchemy/plugins/init/plugin.py
  litestar/contrib/sqlalchemy/plugins/serialization.py
  litestar/contrib/sqlalchemy/repository/__init__.py
  litestar/contrib/sqlalchemy/repository/_async.py
  litestar/contrib/sqlalchemy/repository/_sync.py
  litestar/contrib/sqlalchemy/repository/_util.py
  litestar/contrib/sqlalchemy/repository/types.py
  litestar/contrib/sqlalchemy/types.py
  litestar/plugins/htmx.py
  litestar/plugins/sqlalchemy.py
  pyproject.toml
  tests/unit/test_connection/test_request.py
  tests/unit/test_contrib/test_attrs.py
  tests/unit/test_contrib/test_htmx/test_htmx_deprecations.py
  tests/unit/test_contrib/test_prometheus.py
  tests/unit/test_contrib/test_pydantic.py
  tests/unit/test_contrib/test_sqlalchemy.py
  uv.lock
Labels: pr/internal, area/dependencies, type/feat, area/plugins, size: large

#3885 fix: typo in exception message for ImproperlyConfiguredException
  litestar/di.py
Labels: Triage Required :hospital:, pr/external, size: small, area/di
