Repository litestar-org/litestar, pull requests merged in 2024-12, with the labels that each got.

#3894 feat: WebSocket send stream
  docs/conf.py
  docs/examples/websockets/stream_and_receive_listener.py
  docs/examples/websockets/stream_and_receive_raw.py
  docs/examples/websockets/stream_basic.py
  docs/examples/websockets/stream_di_hog.py
  docs/examples/websockets/stream_di_hog_fix.py
  docs/examples/websockets/stream_socket_access.py
  docs/usage/websockets.rst
  litestar/__init__.py
  litestar/handlers/__init__.py
  litestar/handlers/websocket_handlers/__init__.py
  litestar/handlers/websocket_handlers/route_handler.py
  litestar/handlers/websocket_handlers/stream.py
  tests/unit/test_handlers/test_websocket_handlers/test_stream.py
Labels: pr/internal, area/docs, area/handlers, area/private-api, type/feat, size: medium

#3901 feat: add query params to redirect response
  litestar/response/redirect.py
  tests/unit/test_response/test_redirect_response.py
Labels: Triage Required :hospital:, pr/external, size: small, type/feat, area/response

#3902 fix(file response): Support varying `mtime` semantics across different fsspec implementations
  litestar/response/file.py
  tests/unit/test_response/test_file_response.py
Labels: pr/internal, size: small, type/bug, area/response

#3892 feat: add Valkey as a native store
  docs/conf.py
  docs/reference/stores/index.rst
  docs/reference/stores/valkey.rst
  docs/usage/stores.rst
  litestar/stores/valkey.py
  pyproject.toml
  tests/conftest.py
  tests/docker-compose.yml
  tests/docker_service_fixtures.py
  tests/unit/test_stores.py
  uv.lock
Labels: Triage Required :hospital:, pr/external, pr/internal, area/docs, area/dependencies, type/feat, size: medium, area/stores

#3909 fix(OpenAPI): Query-only properties included in path, cookie and header parameter schema and response headers (#3908)
  litestar/datastructures/response_header.py
  litestar/openapi/spec/base.py
  litestar/openapi/spec/header.py
  litestar/openapi/spec/parameter.py
  tests/e2e/test_openapi/test_spec_headers.py
  tests/unit/test_openapi/test_config.py
  tests/unit/test_openapi/test_parameters.py
  tests/unit/test_openapi/test_responses.py
Labels: pr/internal, size: small, type/bug, area/datastructures

#3915 docs: remove deprecated sponsor STOK
  README.md
  docs/PYPI_README.md
  docs/index.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs
