Repository litestar-org/litestar, pull requests merged in 2024-03, with the labels that each got.

#3175 ci: Enable running platform compat tests in CI
  .github/workflows/ci.yml
Labels: test platform compat

#3174 fix: add the redis mark to appropriate test
  tests/unit/test_stores.py
Labels: test platform compat

#2893 refactor: openapi router
  README.md
  docs/PYPI_README.md
  docs/examples/openapi/customize_path.py
  docs/examples/openapi/plugins/__init__.py
  docs/examples/openapi/plugins/custom_plugin.py
  docs/examples/openapi/plugins/rapidoc_config.py
  docs/examples/openapi/plugins/rapidoc_simple.py
  docs/examples/openapi/plugins/receive_router.py
  docs/examples/openapi/plugins/redoc_config.py
  docs/examples/openapi/plugins/redoc_simple.py
  docs/examples/openapi/plugins/scalar_config.py
  docs/examples/openapi/plugins/scalar_customized.py
  docs/examples/openapi/plugins/scalar_simple.py
  docs/examples/openapi/plugins/serving_multiple_uis.py
  docs/examples/openapi/plugins/stoplight_config.py
  docs/examples/openapi/plugins/stoplight_simple.py
  docs/examples/openapi/plugins/swagger_ui_config.py
  docs/examples/openapi/plugins/swagger_ui_oauth.py
  docs/examples/openapi/plugins/swagger_ui_simple.py
  docs/examples/openapi/plugins/yaml_simple.py
  docs/index.rst
  docs/reference/openapi/index.rst
  docs/reference/openapi/plugins.rst
  docs/usage/applications.rst
  docs/usage/index.rst
  docs/usage/openapi/index.rst
  docs/usage/openapi/schema_generation.rst
  docs/usage/openapi/ui_plugins.rst
  litestar/_openapi/plugin.py
  litestar/app.py
  litestar/cli/_utils.py
  litestar/constants.py
  litestar/openapi/config.py
  litestar/openapi/controller.py
  litestar/openapi/plugins.py
  test_apps/openapi_test_app/main.py
  tests/conftest.py
  tests/examples/test_openapi/__init__.py
  tests/examples/test_openapi/test_openapi.py
  tests/examples/test_openapi/test_plugins.py
  tests/unit/test_cli/__init__.py
  tests/unit/test_cli/test_core_commands.py
  tests/unit/test_deprecations.py
  tests/unit/test_openapi/conftest.py
  tests/unit/test_openapi/test_config.py
  tests/unit/test_openapi/test_controller.py
  tests/unit/test_openapi/test_endpoints.py
  tests/unit/test_openapi/test_integration.py
  tests/unit/test_openapi/test_render_plugins.py
Labels: Enhancement, Refactor, OpenAPI

#3227 feat: Add LITESTAR_ prefix before WEB_CONCURRENCY env option
  docs/usage/cli.rst
  litestar/cli/commands/core.py
  tests/unit/test_cli/test_core_commands.py
Labels: do not merge
