Repository litestar-org/litestar, pull requests merged in 2024-08, with the labels that each got.

#3661 fix: Small docs update.
  docs/examples/parameters/header_and_cookie_parameters.py
  docs/examples/parameters/path_parameters_1.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/bug

#3671 docs: Fix misplaced comment in dependency-injection.rst for better clarity
  docs/usage/dependency-injection.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs

#3670 docs: Added Posting tool as an alternative to Postman in 06-receiving-data.rst
  docs/tutorials/dto-tutorial/06-receiving-data.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3669 chore: update dependencies
  .pre-commit-config.yaml
  docs/conf.py
  docs/usage/responses.rst
  docs/usage/routing/parameters.rst
  litestar/_openapi/schema_generation/schema.py
  litestar/app.py
  litestar/channels/backends/redis.py
  litestar/cli/commands/core.py
  litestar/contrib/opentelemetry/middleware.py
  litestar/openapi/spec/base.py
  litestar/plugins/core.py
  litestar/utils/sync.py
  pdm.lock
  pyproject.toml
  tests/helpers.py
  tests/unit/test_contrib/test_opentelemetry.py
  tests/unit/test_contrib/test_pydantic/test_integration.py
  tests/unit/test_openapi/test_schema.py
  tests/unit/test_response/test_response_to_asgi_response.py
  tools/prepare_release.py
  tools/sphinx_ext/run_examples.py
Labels: pr/internal, area/docs, area/private-api, area/dependencies, area/plugins, size: medium

#3685 fix(DTO): Inconsistent use of strict mode
  litestar/dto/_backend.py
  litestar/serialization/msgspec_hooks.py
  tests/unit/test_dto/test_factory/test_backends/test_backends.py
Labels: pr/internal, size: small, area/private-api, type/bug, area/dto, area/serialization

#3684 feat: switched abandonded python-jose to pyjwt
  litestar/security/jwt/token.py
  pdm.lock
  pyproject.toml
  tests/unit/test_security/test_jwt/test_token.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/dependencies, type/feat

#3687 fix(prometheus): use path template for prometheus metrics
  litestar/_asgi/asgi_router.py
  litestar/_asgi/routing_trie/mapping.py
  litestar/_asgi/routing_trie/traversal.py
  litestar/_asgi/routing_trie/types.py
  litestar/contrib/prometheus/middleware.py
  litestar/testing/client/base.py
  litestar/testing/request_factory.py
  litestar/types/asgi_types.py
  tests/examples/test_contrib/prometheus/test_prometheus_exporter_example.py
  tests/examples/test_contrib/prometheus/test_prometheus_exporter_example_with_extra_config.py
  tests/unit/test_contrib/test_prometheus.py
Labels: Triage Required :hospital:, pr/external, area/private-api, type/bug, area/types, size: medium, area/testing, area/asgi

#3689 fix: OpenTelemetry doesn't capture exceptions in the outermost application layer
  docs/usage/metrics/open-telemetry.rst
  litestar/app.py
  litestar/contrib/opentelemetry/__init__.py
  litestar/contrib/opentelemetry/_utils.py
  litestar/contrib/opentelemetry/plugin.py
  tests/unit/test_contrib/test_opentelemetry.py
Labels: pr/internal, size: small, area/docs, type/bug

#3693 fix: updated sqlalchemy samples & unpin `advanced-alchemy`
  .pre-commit-config.yaml
  docs/examples/contrib/sqlalchemy/plugins/sqlalchemy_async_before_send_handler.py
  docs/examples/contrib/sqlalchemy/plugins/sqlalchemy_async_dependencies.py
  docs/examples/contrib/sqlalchemy/plugins/sqlalchemy_async_init_plugin_example.py
  docs/examples/contrib/sqlalchemy/plugins/sqlalchemy_async_plugin_example.py
  docs/examples/contrib/sqlalchemy/plugins/sqlalchemy_async_serialization_dto.py
  docs/examples/contrib/sqlalchemy/plugins/sqlalchemy_async_serialization_plugin.py
  docs/examples/contrib/sqlalchemy/plugins/sqlalchemy_async_serialization_plugin_marking_fields.py
  docs/examples/contrib/sqlalchemy/plugins/sqlalchemy_sync_before_send_handler.py
  docs/examples/contrib/sqlalchemy/plugins/sqlalchemy_sync_dependencies.py
  docs/examples/contrib/sqlalchemy/plugins/sqlalchemy_sync_init_plugin_example.py
  docs/examples/contrib/sqlalchemy/plugins/sqlalchemy_sync_plugin_example.py
  docs/examples/contrib/sqlalchemy/plugins/sqlalchemy_sync_serialization_plugin.py
  docs/examples/contrib/sqlalchemy/plugins/sqlalchemy_sync_serialization_plugin_marking_fields.py
  docs/usage/databases/sqlalchemy/plugins/sqlalchemy_plugin.rst
  litestar/plugins/sqlalchemy.py
  pdm.lock
  pyproject.toml
  tests/examples/test_contrib/test_sqlalchemy/plugins/test_example_apps.py
Labels: pr/internal, area/docs, type/bug, area/dependencies, area/plugins, size: medium

#3690 feat(DTO): introduce `forbid_unknown_fields` config
  docs/examples/data_transfer_objects/factory/unknown_fields.py
  docs/usage/dto/1-abstract-dto.rst
  litestar/dto/_backend.py
  litestar/dto/config.py
  tests/examples/test_dto/test_example_apps.py
  tests/unit/test_dto/test_factory/test_integration.py
Labels: pr/internal, size: small, area/docs, area/private-api, type/feat, area/dto

#3692 feat(JWT): Custom JWT payload classes
  docs/conf.py
  docs/examples/security/jwt/custom_token_cls.py
  docs/usage/security/jwt.rst
  litestar/security/jwt/auth.py
  litestar/security/jwt/middleware.py
  litestar/security/jwt/token.py
  tests/unit/test_security/test_jwt/test_auth.py
Labels: pr/internal, size: small, area/docs, type/feat

#3691 feat(DTO): Support `extra="forbid"` model config for `PydanticDTO`
  litestar/contrib/pydantic/pydantic_dto_factory.py
  litestar/dto/base_dto.py
  tests/unit/test_contrib/test_pydantic/test_dto.py
  tests/unit/test_dto/test_factory/test_base_dto.py
Labels: pr/internal, size: small, type/feat, area/dto

#3603 docs: Document custom types
  CONTRIBUTING.rst
  docs/examples/encoding_decoding/__init__.py
  docs/examples/encoding_decoding/custom_type_encoding_decoding.py
  docs/examples/encoding_decoding/custom_type_pydantic.py
  docs/usage/applications.rst
  docs/usage/custom-types.rst
  docs/usage/index.rst
  tests/examples/test_encoding_decoding/__init__.py
  tests/examples/test_encoding_decoding/test_custom_type_encoding_decoding.py
  tests/examples/test_encoding_decoding/test_custom_type_pydantic.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs, size: medium

#3565 fix(#3554): correct ``module_to_os_path`` to return directory paths
  litestar/utils/module_loader.py
  tests/unit/test_utils/test_module_loader.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, type/bug

#3697 docs: stale reference to pydantic signature models
  docs/usage/routing/parameters.rst
Labels: pr/internal, size: small, area/docs

#3700 feat(middleware): Warn about greedy exclude patterns
  docs/usage/middleware/creating-middleware.rst
  docs/usage/security/excluding-and-including-endpoints.rst
  litestar/middleware/_utils.py
  litestar/middleware/authentication.py
  litestar/middleware/base.py
  litestar/middleware/csrf.py
  litestar/utils/warnings.py
  tests/unit/test_middleware/test_base_middleware.py
  tests/unit/test_security/test_security.py
Labels: pr/internal, size: small, area/docs, area/private-api, type/feat, area/middleware

#3323 feat: problem details plugin
  README.md
  docs/PYPI_README.md
  docs/conf.py
  docs/examples/plugins/problem_details/basic_usage.py
  docs/examples/plugins/problem_details/convert_exceptions.py
  docs/examples/plugins/problem_details/convert_http_exceptions.py
  docs/examples/responses/json_suffix_responses.py
  docs/reference/plugins/index.rst
  docs/reference/plugins/problem_details.rst
  docs/usage/plugins/index.rst
  docs/usage/plugins/problem_details.rst
  docs/usage/responses.rst
  litestar/plugins/problem_details.py
  tests/examples/test_responses/test_json_suffix_responses.py
  tests/unit/test_plugins/test_problem_details.py
Labels: pr/internal, area/docs, type/feat, area/plugins, size: medium

#3698 fix: csrf middleware excluding router
  litestar/middleware/csrf.py
  tests/unit/test_middleware/test_csrf_middleware.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, type/bug, area/middleware

#3696 fix: inconsistent behavior between `signature_namespace` and `signature_types`
  litestar/handlers/base.py
  litestar/utils/signature.py
  litestar/utils/warnings.py
  tests/unit/test_utils/test_signature.py
Labels: pr/internal, size: small, area/handlers, type/bug

#3705 fix(JWT): Response with 401 on token payload validation
  litestar/security/jwt/token.py
  tests/unit/test_security/test_jwt/test_auth.py
Labels: pr/internal, size: small, type/bug

#3702 docs: fixed incorrect docs for default status code for http handler
  litestar/handlers/http_handlers/base.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, type/docs

#3695 feat(JWT): Customised token verification
  docs/conf.py
  docs/examples/security/jwt/custom_decode_payload.py
  docs/examples/security/jwt/verify_issuer_audience.py
  docs/usage/security/jwt.rst
  litestar/security/jwt/auth.py
  litestar/security/jwt/middleware.py
  litestar/security/jwt/token.py
  tests/examples/test_security/test_jwt/test_verify_issuer_audience.py
  tests/unit/test_security/test_jwt/test_auth.py
  tests/unit/test_security/test_jwt/test_token.py
Labels: pr/internal, size: small, area/docs, type/feat, size: medium

#3709 chore(release): Release v2.11.0
  docs/release-notes/changelog.rst
  pyproject.toml
Labels: pr/internal, size: small, area/docs, area/dependencies

#3712 fix(warnings): the exclude pattern matching warned too much
  litestar/middleware/_utils.py
  pdm.lock
  tests/unit/test_middleware/test_base_middleware.py
Labels: Triage Required :hospital:, pr/external, size: small, area/private-api, type/bug, area/dependencies, area/middleware
