Repository litestar-org/litestar, pull requests merged in 2024-09, with the labels that each got.

#3715 fix(OpenAPI): Correctly handle `type` keyword
  .github/workflows/ci.yml
  .github/workflows/test.yml
  litestar/_openapi/schema_generation/schema.py
  litestar/typing.py
  tests/unit/test_openapi/test_schema.py
  tests/unit/test_typing.py
Labels: pr/internal, area/ci, size: small, area/private-api, type/bug

#3716 refactor(typing): Remove "unpacking" of `annotated_types`
  litestar/typing.py
  tests/unit/test_openapi/test_schema.py
Labels: pr/internal, size: small

#3729 feat: Support strings in `media_type` for `ResponseSpec`
  litestar/_openapi/responses.py
  litestar/openapi/datastructures.py
  tests/unit/test_openapi/test_responses.py
Labels: pr/internal, size: small, area/openapi, area/private-api, type/feat

#3731 test: Fix tests for pydantic private fields
  tests/unit/test_contrib/test_pydantic/test_schema_plugin.py
Labels: pr/internal, size: small

#3733 test: Fix for Pydantic private fields (2nd attempt)
  tests/unit/test_contrib/test_pydantic/test_integration.py
Labels: pr/internal, size: small

#3735 fix: Fix dangling coroutines in request extraction handling cleanup
  litestar/_kwargs/extractors.py
  litestar/_kwargs/kwargs_model.py
  litestar/_kwargs/types.py
  litestar/routes/http.py
  litestar/routes/websocket.py
  pyproject.toml
  tests/unit/test_kwargs/test_cookie_params.py
  tests/unit/test_kwargs/test_header_params.py
  tests/unit/test_kwargs/test_query_params.py
Labels: pr/internal, size: small, area/private-api, type/bug, area/dependencies, area/kwargs

#3739 fix: `httponly` correction in CSRFMiddleware
  litestar/middleware/csrf.py
  tests/unit/test_middleware/test_csrf_middleware.py
Labels: pr/internal, size: small, type/bug, area/middleware

#3738 feat: Allow customizing schema component keys
  litestar/_openapi/datastructures.py
  litestar/_openapi/schema_generation/schema.py
  litestar/_openapi/schema_generation/utils.py
  litestar/params.py
  tests/unit/test_openapi/test_datastructures.py
  tests/unit/test_openapi/test_schema.py
Labels: pr/internal, size: small, area/openapi, area/private-api, type/feat, area/params

#3433 docs: no more develop branch
  .github/workflows/docs.yml
  .github/workflows/pr-merged.yml
  docs/_static/versions.json
Labels: pr/internal, area/ci, size: small, area/docs, type/docs

#3385 docs: Explicitly mention connection classes in guard docs
  docs/usage/security/guards.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#2769 refactor: Add types to some tests
  tests/e2e/test_dependency_injection/test_http_handler_dependency_injection.py
  tests/e2e/test_dependency_injection/test_websocket_handler_dependency_injection.py
  tests/e2e/test_life_cycle_hooks/test_after_request.py
  tests/e2e/test_life_cycle_hooks/test_before_request.py
  tests/e2e/test_response_caching.py
  tests/unit/test_app.py
  tests/unit/test_connection/test_request.py
  tests/unit/test_connection/test_websocket.py
  tests/unit/test_openapi/test_responses.py
Labels: pr/internal, size: small

#3350 docs: update ``usage/cli``
  docs/release-notes/changelog.rst
  docs/usage/cli.rst
  docs/usage/stores.rst
  litestar/cli/commands/core.py
Labels: pr/internal, size: small, area/docs, type/docs

#3721 refactor: Metadata handling
  litestar/_openapi/schema_generation/plugins/struct.py
  litestar/_openapi/schema_generation/schema.py
  litestar/contrib/pydantic/pydantic_dto_factory.py
  litestar/contrib/pydantic/pydantic_init_plugin.py
  litestar/contrib/pydantic/pydantic_schema_plugin.py
  litestar/contrib/pydantic/utils.py
  litestar/dto/_backend.py
  litestar/dto/_types.py
  litestar/dto/data_structures.py
  litestar/dto/msgspec_dto.py
  litestar/plugins/core.py
  litestar/plugins/core/__init__.py
  litestar/plugins/core/_msgspec.py
  litestar/typing.py
  pyproject.toml
  tests/unit/test_contrib/conftest.py
  tests/unit/test_contrib/test_msgspec.py
  tests/unit/test_contrib/test_pydantic/conftest.py
  tests/unit/test_contrib/test_pydantic/test_dto.py
  tests/unit/test_contrib/test_pydantic/test_integration.py
  tests/unit/test_contrib/test_pydantic/test_openapi.py
  tests/unit/test_contrib/test_pydantic/test_pydantic_dto_factory.py
  tests/unit/test_contrib/test_pydantic/test_schema_plugin.py
  tests/unit/test_openapi/test_schema.py
  tests/unit/test_typing.py
Labels: pr/internal, area/private-api, area/dependencies, area/plugins, area/dto, size: medium

#3635 fix(OpenAPI): handle invalid schema keys
  litestar/_openapi/datastructures.py
  tests/unit/test_dto/test_factory/test_integration.py
  tests/unit/test_openapi/test_datastructures.py
  tests/unit/test_openapi/test_integration.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/openapi, area/private-api, type/bug

#3740 feat: Raise exception when body parameter is annotated with non-bytes type
  litestar/handlers/http_handlers/base.py
  tests/unit/test_handlers/test_http_handlers/test_validations.py
Labels: pr/internal, size: small, type/feat

#3741 ci(docs): include hidden files for docs
  .github/workflows/ci.yml
Labels: pr/internal, area/ci, size: small

#3742 fix(OpenAPI): Correctly handle `msgspec.Struct` tagged unions
  litestar/_openapi/schema_generation/plugins/struct.py
  tests/unit/test_contrib/test_msgspec.py
Labels: pr/internal, size: small, area/private-api, type/bug

#3743 fix(revert): `httponly` correction in CSRFMiddleware
  litestar/middleware/csrf.py
  tests/unit/test_middleware/test_csrf_middleware.py
Labels: pr/internal, size: small, type/bug, area/middleware

#3745 docs(index): Add `litestar-fullstack-inertia` and remove `litestar-pg-redis-docker`
  docs/index.rst
Labels: pr/internal, size: small, area/docs, type/docs

#3746 docs: remove unused code snippet
  docs/examples/testing/test_health_check_async.py
  docs/examples/testing/test_health_check_sync.py
Labels: pr/internal, size: small, area/docs, type/docs

#3747 feat: bump `scalar` OpenAPI Plugin to `latest` release
  litestar/openapi/plugins.py
Labels: pr/internal, size: small, type/feat

#3750 fix(typing): Don't require annotated_types
  litestar/typing.py
Labels: pr/internal, size: small, type/bug

#3751 docs: update copyright notice year to 2024
  docs/conf.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3754 feat: OpenAPI plugins send CSRF request header
  litestar/openapi/plugins.py
  tests/unit/test_openapi/test_plugins.py
Labels: Triage Required :hospital:, pr/external, size: small, type/feat

#3753 chore: Fix PyPI readme generation on Windows
  tools/pypi_readme.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small

#3755 feat: deprecate `litestar.contrib.sqlalchemy`
  .gitignore
  docs/conf.py
  docs/examples/contrib/sqlalchemy/sqlalchemy_async_repository.py
  docs/examples/contrib/sqlalchemy/sqlalchemy_sync_repository.py
  docs/examples/data_transfer_objects/factory/enveloping_return_data.py
  docs/examples/data_transfer_objects/factory/excluding_fields.py
  docs/examples/data_transfer_objects/factory/included_fields.py
  docs/examples/data_transfer_objects/factory/marking_fields.py
  docs/examples/data_transfer_objects/factory/paginated_return_data.py
  docs/examples/data_transfer_objects/factory/related_items.py
  docs/examples/data_transfer_objects/factory/renaming_all_fields.py
  docs/examples/data_transfer_objects/factory/renaming_fields.py
  docs/examples/data_transfer_objects/factory/response_return_data.py
  docs/examples/data_transfer_objects/factory/simple_dto_factory_example.py
  docs/examples/data_transfer_objects/factory/type_checking.py
  docs/examples/websockets/with_dto.py
  litestar/contrib/pydantic/pydantic_init_plugin.py
  litestar/contrib/sqlalchemy/__init__.py
  litestar/contrib/sqlalchemy/base.py
  litestar/contrib/sqlalchemy/dto.py
  litestar/contrib/sqlalchemy/plugins/__init__.py
  litestar/contrib/sqlalchemy/plugins/init/__init__.py
  litestar/contrib/sqlalchemy/plugins/init/config/__init__.py
  litestar/contrib/sqlalchemy/plugins/init/config/asyncio.py
  litestar/contrib/sqlalchemy/plugins/init/config/common.py
  litestar/contrib/sqlalchemy/plugins/init/config/compat.py
  litestar/contrib/sqlalchemy/plugins/init/config/engine.py
  litestar/contrib/sqlalchemy/plugins/init/config/sync.py
  litestar/contrib/sqlalchemy/plugins/init/plugin.py
  litestar/contrib/sqlalchemy/plugins/serialization.py
  litestar/contrib/sqlalchemy/repository/__init__.py
  litestar/contrib/sqlalchemy/repository/_async.py
  litestar/contrib/sqlalchemy/repository/_sync.py
  litestar/contrib/sqlalchemy/repository/_util.py
  litestar/contrib/sqlalchemy/repository/types.py
  litestar/contrib/sqlalchemy/types.py
  litestar/plugins/sqlalchemy.py
  pyproject.toml
  tests/unit/test_contrib/test_sqlalchemy.py
  tests/unit/test_dto/test_factory/test_integration.py
Labels: pr/internal, area/docs, area/dependencies, type/feat, area/plugins, size: large

#3768 fix: (typo) changed emphasis from line 12 to 11 to highlight the correct plugin being added in tutorial
  docs/tutorials/sqlalchemy/3-init-plugin.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/bug
