Repository litestar-org/litestar, pull requests merged in 2024-04, with the labels that each got.

#3332 ci: add labeler for prs
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: pr/internal, area/ci, size: small

#3331 refactor(routing): Move kwargs model creation to handler
  litestar/_asgi/routing_trie/mapping.py
  litestar/_openapi/parameters.py
  litestar/app.py
  litestar/handlers/base.py
  litestar/routes/base.py
  litestar/routes/http.py
Labels: pr/internal, size: small, area/openapi, area/handlers, area/private-api

#3338 fix: OpenAPI router and controller on same app.
  litestar/openapi/controller.py
  tests/unit/test_openapi/test_integration.py
Labels: pr/internal, size: small, type/bug

#3341 chore(release): prepare release v2.8.1
  docs/release-notes/changelog.rst
  pyproject.toml
Labels: pr/internal, size: small, area/docs, area/dependencies

#3343 docs: update ``usage/applications``
  docs/usage/applications.rst
Labels: pr/internal, size: small, area/docs, type/docs

#3352 chore: tidy up some redundant comments
  litestar/contrib/pydantic/pydantic_init_plugin.py
  litestar/contrib/pydantic/pydantic_schema_plugin.py
Labels: pr/internal, size: small

#3353 chore(release): prepare release v2.8.2
  docs/release-notes/changelog.rst
  pyproject.toml
Labels: pr/internal, size: small, area/docs, area/dependencies

#3359 fix: Remove use of asserts for control flow.
  litestar/contrib/pydantic/pydantic_dto_factory.py
  litestar/contrib/pydantic/pydantic_init_plugin.py
  litestar/contrib/pydantic/pydantic_schema_plugin.py
  litestar/contrib/pydantic/utils.py
Labels: pr/internal, size: small, type/bug

#3358 docs: update ``usage/static_files``
  docs/usage/static-files.rst
Labels: pr/internal, size: small, area/docs, type/docs, no changelog

#3324 docs!: update to v3 style
  .github/workflows/docs.yml
  docs/_static/style.css
  docs/_static/tables/framework-comparison.csv
  docs/_static/versioning.js
  docs/_static/versions.json
  docs/conf.py
  docs/getting-started.rst
  docs/index.rst
  docs/release-notes/2.x-changelog.rst
  docs/release-notes/changelog.rst
  docs/release-notes/index.rst
  docs/release-notes/whats-new-3.rst
  litestar/app.py
  litestar/utils/predicates.py
  pdm.lock
  pyproject.toml
  tools/build_docs.py
Labels: pr/internal, area/ci, area/docs, area/dependencies, size: medium

#3365 chore: Update lockfile and tools
  .pre-commit-config.yaml
  litestar/stores/redis.py
  pdm.lock
Labels: pr/internal, size: small, area/dependencies, area/stores

#3357 refactor!: Remove deprecated `StaticFileConfig`
  docs/examples/static_files/upgrade_from_static_1.py
  docs/examples/static_files/upgrade_from_static_2.py
  docs/release-notes/2.x-changelog.rst
  docs/release-notes/whats-new-2.rst
  docs/release-notes/whats-new-3.rst
  docs/usage/static-files.rst
  docs/usage/templating.rst
  litestar/_asgi/routing_trie/mapping.py
  litestar/_asgi/routing_trie/traversal.py
  litestar/_asgi/routing_trie/types.py
  litestar/app.py
  litestar/cli/_utils.py
  litestar/config/app.py
  litestar/connection/base.py
  litestar/contrib/jinja.py
  litestar/contrib/mako.py
  litestar/contrib/minijinja.py
  litestar/handlers/asgi_handlers.py
  litestar/middleware/rate_limit.py
  litestar/static_files.py
  litestar/static_files/__init__.py
  litestar/static_files/base.py
  litestar/static_files/config.py
  litestar/template/base.py
  litestar/testing/helpers.py
  test_apps/static_files_test_app/main.py
  tests/e2e/test_routing/test_asset_url_path.py
  tests/e2e/test_routing/test_route_indexing.py
  tests/e2e/test_routing/test_validations.py
  tests/examples/test_static_files.py
  tests/unit/test_app.py
  tests/unit/test_asgi_router.py
  tests/unit/test_connection/test_request.py
  tests/unit/test_middleware/test_rate_limit_middleware.py
  tests/unit/test_static_files/conftest.py
  tests/unit/test_static_files/test_file_serving_resolution.py
  tests/unit/test_static_files/test_html_mode.py
  tests/unit/test_static_files/test_static_files_validation.py
  tests/unit/test_template/test_builtin_functions.py
  tests/unit/test_utils/test_signature.py
Labels: pr/internal, area/docs, area/handlers, area/private-api, area/contrib, size: large, area/middleware, area/template, area/static-files, area/connection, area/testing

#3361 feat!: no implicit default for optional params
  docs/examples/pagination/using_cursor_pagination.py
  docs/release-notes/whats-new-3.rst
  litestar/_kwargs/parameter_definition.py
  tests/e2e/test_routing/test_path_resolution.py
  tests/unit/test_kwargs/test_cookie_params.py
  tests/unit/test_kwargs/test_header_params.py
  tests/unit/test_kwargs/test_path_params.py
  tests/unit/test_params.py
  tests/unit/test_signature/test_validation.py
Labels: pr/internal, size: small, area/docs, area/private-api, type/feat, Breaking 🔨, area/kwargs

#3368 docs: fix broken url; swagger ui
  docs/usage/openapi/ui_plugins.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3371 fix: schema for generic wrapped return types with DTO
  litestar/dto/base_dto.py
  tests/conftest.py
  tests/helpers.py
  tests/unit/test_dto/test_factory/test_integration.py
Labels: pr/internal, size: small, type/bug, area/dto

#3378 fix: Ambiguous default warning for no signature default
  litestar/typing.py
  tests/unit/test_typing.py
Labels: pr/internal, size: small, type/bug

#3380 fix: Path param consumed by dependency treated as unconsumed
  litestar/_openapi/parameters.py
  tests/unit/test_openapi/test_schema.py
Labels: pr/internal, size: small, area/openapi, area/private-api, type/bug

#3383 fix: Solve a caching issue in `CacheControlHeader`
  litestar/datastructures/headers.py
  tests/unit/test_datastructures/test_headers.py
Labels: pr/internal, size: small, type/bug, area/datastructures

#3387 test: adds a test for middleware behavior
  tests/e2e/test_middleware/__init__.py
  tests/e2e/test_middleware/test_middleware_send_wrapper_called_on_error.py
Labels: pr/internal, size: small

#3390 fix(docs): new discord link
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/PYPI_README.md
  docs/conf.py
  pyproject.toml
Labels: pr/internal, area/ci, size: small, area/docs, type/bug, area/dependencies

#3393 refactor!: Remove deprecated `app` param of `Response.to_asgi_response`
  docs/release-notes/whats-new-3.rst
  litestar/handlers/http_handlers/_utils.py
  litestar/handlers/http_handlers/base.py
  litestar/middleware/exceptions/middleware.py
  litestar/response/base.py
  litestar/response/file.py
  litestar/response/redirect.py
  litestar/response/streaming.py
  litestar/response/template.py
  litestar/routes/http.py
  tests/unit/test_response/test_response_to_asgi_response.py
Labels: pr/internal, area/docs, size: medium, area/response

#3400 refactor: Make CORS outermost middleware
  litestar/app.py
  litestar/middleware/exceptions/middleware.py
  tests/unit/test_middleware/test_cors_middleware.py
Labels: pr/internal, size: small

#3404 refactor: deprecate CORSMiddleware from public interface.
  litestar/app.py
  litestar/middleware/_internal.py
  litestar/middleware/cors.py
  litestar/testing/helpers.py
  tests/unit/test_deprecations.py
  tests/unit/test_middleware/test_cors_middleware.py
Labels: pr/internal, size: small, area/private-api, area/middleware, area/testing

#3405 fix: broken sample code on 'SQLAlchemy Repository Tutorial'
  docs/tutorials/repository-tutorial/01-modeling-and-features.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/bug

#3401 refactor: CORS pre-flight response generated by middleware.
  litestar/middleware/_internal.py
  litestar/routes/http.py
  tests/e2e/test_cors/__init__.py
  tests/e2e/test_cors/test_cors_allowed_headers.py
  tests/e2e/test_cors/test_cors_allowed_methods.py
  tests/e2e/test_cors/test_cors_credentials.py
  tests/e2e/test_cors/test_cors_for_middleware_exception.py
  tests/e2e/test_cors/test_cors_for_mount.py
  tests/e2e/test_cors/test_cors_for_routing_exception.py
  tests/e2e/test_cors/test_cors_origins.py
  tests/e2e/test_cors/test_custom_options_handlers.py
  tests/e2e/test_cors/test_non_cors_options.py
Labels: pr/internal, area/private-api, area/middleware, size: medium

#3386 refactor(routing)!: Refactor routes and route handlers
  docs/conf.py
  litestar/_asgi/routing_trie/mapping.py
  litestar/_openapi/path_item.py
  litestar/_openapi/plugin.py
  litestar/app.py
  litestar/handlers/asgi_handlers.py
  litestar/handlers/base.py
  litestar/handlers/http_handlers/_options.py
  litestar/handlers/http_handlers/_utils.py
  litestar/handlers/http_handlers/base.py
  litestar/handlers/websocket_handlers/route_handler.py
  litestar/middleware/_internal.py
  litestar/router.py
  litestar/routes/asgi.py
  litestar/routes/base.py
  litestar/routes/http.py
  litestar/routes/websocket.py
  tests/e2e/test_router_registration.py
  tests/unit/test_handlers/test_asgi_handlers/test_validations.py
  tests/unit/test_handlers/test_http_handlers/test_head.py
  tests/unit/test_handlers/test_http_handlers/test_media_type.py
  tests/unit/test_handlers/test_http_handlers/test_validations.py
  tests/unit/test_handlers/test_websocket_handlers/test_listeners.py
  tests/unit/test_handlers/test_websocket_handlers/test_validations.py
  tests/unit/test_openapi/test_parameters.py
  tests/unit/test_openapi/test_request_body.py
  tests/unit/test_openapi/test_responses.py
  tests/unit/test_response/test_response_cookies.py
  tests/unit/test_response/test_response_headers.py
  tests/unit/test_response/test_type_encoders.py
Labels: pr/internal, area/docs, area/openapi, area/handlers, area/private-api, size: large, area/middleware, area/router

#3412 docs: correct a word
  docs/release-notes/whats-new-2.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3413 docs: Fix WebSockets documentation grammar
  docs/usage/websockets.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs

#3417 fix: "name" and "in" should not be included in openapi headers
  litestar/openapi/spec/base.py
  litestar/openapi/spec/header.py
  tests/e2e/test_openapi/__init__.py
  tests/e2e/test_openapi/test_spec_headers.py
  tests/unit/test_openapi/test_config.py
Labels: pr/internal, size: small, type/bug

#3418 fix: top-level import of optional package
  litestar/plugins/flash.py
Labels: pr/internal, size: small, type/bug, area/plugins

#3419 refactor: use contextlib.suppress
  litestar/plugins/flash.py
Labels: pr/internal, size: small, area/plugins

#3389 refactor: exception handler middleware optimizations
  .pre-commit-config.yaml
  docs/reference/exceptions.rst
  litestar/_asgi/asgi_router.py
  litestar/_asgi/routing_trie/mapping.py
  litestar/_asgi/utils.py
  litestar/app.py
  litestar/datastructures/state.py
  litestar/exceptions/responses/__init__.py
  litestar/exceptions/responses/_debug_response.py
  litestar/exceptions/responses/templates/body.html
  litestar/exceptions/responses/templates/frame.html
  litestar/exceptions/responses/templates/scripts.js
  litestar/exceptions/responses/templates/styles.css
  litestar/middleware/_internal/__init__.py
  litestar/middleware/_internal/cors.py
  litestar/middleware/_internal/exceptions/__init__.py
  litestar/middleware/_internal/exceptions/middleware.py
  litestar/middleware/cors.py
  litestar/middleware/exceptions/__init__.py
  litestar/middleware/exceptions/_debug_response.py
  litestar/middleware/exceptions/middleware.py
  litestar/security/session_auth/middleware.py
  litestar/testing/request_factory.py
  litestar/utils/empty.py
  litestar/utils/scope/state.py
  tests/e2e/test_exception_handlers/__init__.py
  tests/e2e/test_exception_handlers/test_exception_handler_registered_on_handler.py
  tests/e2e/test_exception_handlers/test_exception_handlers.py
  tests/e2e/test_middleware/test_exception_handler_applied_to_middleware_exception.py
  tests/e2e/test_middleware/test_exception_handler_called_from_mounted_app.py
  tests/e2e/test_middleware/test_exception_handler_called_if_no_middleware.py
  tests/unit/test_app.py
  tests/unit/test_asgi/__init__.py
  tests/unit/test_asgi/test_asgi_router.py
  tests/unit/test_asgi/test_routing_trie/__init__.py
  tests/unit/test_asgi/test_routing_trie/test_mapping.py
  tests/unit/test_deprecations.py
  tests/unit/test_exceptions.py
  tests/unit/test_middleware/test_allowed_hosts_middleware.py
  tests/unit/test_middleware/test_cors_middleware.py
  tests/unit/test_middleware/test_exception_handler_middleware.py
  tests/unit/test_middleware/test_middleware_handling.py
  tests/unit/test_utils/test_empty.py
Labels: pr/internal, area/docs, area/private-api, size: large, area/middleware, area/datastructures, area/testing, area/asgi

#3438 docs: Fix intersphinx mapping for advanced-alchemy
  docs/conf.py
Labels: pr/internal, size: small, area/docs, type/docs

#3440 chore: Fix warnings in test suite
  docs/examples/request_data/custom_request.py
  pyproject.toml
  tests/unit/test_cli/test_core_commands.py
  tests/unit/test_contrib/test_pydantic/conftest.py
  tests/unit/test_contrib/test_pydantic/test_openapi.py
  tests/unit/test_dto/conftest.py
  tests/unit/test_dto/test_integration.py
  tests/unit/test_openapi/test_schema.py
Labels: pr/internal, size: small, area/docs, area/dependencies

#3345 docs: update ``usage/caching``
  docs/usage/caching.rst
Labels: pr/internal, size: small, area/docs, type/docs, no changelog

#3344 docs: update ``docs/usage/security/*``
  docs/usage/security/abstract-authentication-middleware.rst
  docs/usage/security/guards.rst
  docs/usage/security/index.rst
  docs/usage/security/jwt.rst
  docs/usage/security/security-backends.rst
  litestar/middleware/authentication.py
Labels: pr/internal, size: small, area/docs, type/docs, area/middleware, no changelog

#3430 fix: regular handler under mounted app
  litestar/_asgi/routing_trie/traversal.py
  tests/e2e/test_regular_handler_under_asgi_mount_path.py
Labels: pr/internal, size: small, area/private-api, type/bug

#3425 fix: logging to file with structlog
  litestar/logging/config.py
  tests/e2e/test_logging/__init__.py
  tests/e2e/test_logging/test_structlog_to_file.py
Labels: pr/internal, size: small, type/bug, area/logging

#3446 fix: clear session cookie if new session gt CHUNK_SIZE
  litestar/middleware/session/client_side.py
  tests/unit/test_middleware/test_session/test_client_side_backend.py
Labels: pr/internal, size: small, type/bug

#3420 fix: flash messages were not displayed on Redirect
  litestar/plugins/flash.py
  tests/unit/test_plugins/test_flash.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, type/bug, area/plugins

#3408 fix: Validation of optional sequence in multipart data with one value
  litestar/_kwargs/extractors.py
  tests/unit/test_kwargs/test_multipart_data.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/private-api, type/bug, area/kwargs

#3454 docs: improve sse
  docs/examples/responses/sse_responses.py
  tests/examples/test_responses/test_sse_responses.py
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3452 fix(ci): adjust issue template to not allow blank issues
  .github/ISSUE_TEMPLATE/config.yml
Labels: pr/internal, area/ci, size: small, type/bug
