Repository litestar-org/litestar, pull requests merged in 2024-06, with the labels that each got.

#3537 fix(OpenAPI): YAML schema dump
  litestar/openapi/controller.py
  tests/unit/test_openapi/test_integration.py
Labels: Triage Required :hospital:, pr/external, size: small, type/bug

#3539 chore: formatting fixes
  docs/release-notes/changelog.rst
Labels: pr/internal, size: small, area/docs

#3538 fix: add OPTIONS to the default safe methods for CSRFConfig
  litestar/config/csrf.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, type/bug

#3540 docs(logging): use `queue_listener` as mentioned in the warning
  docs/usage/logging.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3542 chore(exceptions): remove duplicated import
  litestar/exceptions/responses/__init__.py
Labels: Triage Required :hospital:, pr/external, size: small

#3555 fix(docs): fixed typo in routing overview
  docs/usage/routing/overview.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs

#3557 docs: Changed cli to concurrency in concurrency.rst
  docs/reference/concurrency.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3533 fix(prometheus): capture templated route name for metrics
  docs/examples/contrib/prometheus/using_prometheus_exporter.py
  litestar/contrib/prometheus/config.py
  litestar/contrib/prometheus/middleware.py
  tests/examples/test_contrib/prometheus/test_prometheus_exporter_example.py
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/bug

#3559 chore(formatting): deprecation warning text for route handler classes
  litestar/handlers/http_handlers/decorators.py
Labels: pr/internal, size: small

#3563 docs: update ui_plugins.rst
  docs/usage/openapi/ui_plugins.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3567 fix(testing): `.websocket_connect` does not respect `base_url`
  litestar/testing/client/async_client.py
  litestar/testing/client/base.py
  litestar/testing/client/sync_client.py
  tests/unit/test_connection/test_websocket.py
  tests/unit/test_contrib/test_opentelemetry.py
Labels: pr/internal, size: small, type/bug

#3526 feat: allow creating parent directories for a file store
  litestar/stores/file.py
  tests/conftest.py
  tests/unit/test_stores.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, type/feat, area/stores

#3569 fix(warnings): Do not warn for default handlers
  docs/conf.py
  litestar/handlers/http_handlers/decorators.py
  tests/unit/test_handlers/test_http_handlers/test_deprecation.py
Labels: pr/internal, size: small, area/docs, type/bug

#3570 fix(CLI): Don't call `rich_click.patch` if `rich_click` is installed
  litestar/cli/__init__.py
  litestar/cli/_utils.py
  litestar/cli/commands/core.py
  litestar/cli/commands/schema.py
  litestar/cli/commands/sessions.py
  litestar/cli/main.py
Labels: pr/internal, size: small, area/private-api, type/bug

#3571 fix(typing): "Fix" typing for `Controller.as_router`
  litestar/controller.py
Labels: pr/internal, size: small, type/bug, area/controller

#3543 refactor(logging): improve `LoggingConfig` & deprecate `LoggingConfig.propagate`
  litestar/logging/config.py
  tests/unit/test_logging/test_logging_config.py
Labels: Triage Required :hospital:, pr/external, size: small, area/logging

#3577 docs(logging): advise to use `log_exceptions="always"`
  docs/usage/logging.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3578 feat(logging): add param `logging_module` to `LoggingConfig`
  litestar/logging/config.py
  tests/conftest.py
  tests/unit/test_logging/test_logging_config.py
Labels: Triage Required :hospital:, pr/external, size: small, type/feat, area/logging

#3575 feat: add handler name to exceptions in handler validation.
  litestar/handlers/http_handlers/base.py
  litestar/handlers/http_handlers/decorators.py
  litestar/handlers/websocket_handlers/route_handler.py
Labels: Triage Required :hospital:, pr/external, size: small, type/feat

#3580 fix(OpenAPI): Correctly handle `typing.NewType`
  litestar/_openapi/schema_generation/schema.py
  litestar/typing.py
  litestar/utils/typing.py
  tests/unit/test_openapi/test_parameters.py
Labels: pr/internal, size: small, area/private-api, type/bug

#3585 fix: encode response content object returned from an exception handler.
  litestar/middleware/_internal/exceptions/middleware.py
  tests/unit/test_middleware/test_exception_handler_middleware.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, type/bug

#3588 chore(docs): Fix `tools/sphinx_ext/missing_references.py`
  docs/conf.py
  tools/sphinx_ext/missing_references.py
Labels: pr/internal, size: small, area/docs

#3605 fix(signature): Fix #3593: Ensure signature model internal function signatures don't clash with model signature
  litestar/_kwargs/dependencies.py
  litestar/_signature/model.py
  litestar/routes/http.py
  litestar/routes/websocket.py
  pyproject.toml
  tests/unit/test_signature/test_validation.py
Labels: pr/internal, size: small, area/private-api, type/bug, area/dependencies, area/kwargs, area/signature
