Repository litestar-org/litestar, pull requests merged in 2024-10, with the labels that each got.

#3776 fix: sign bug in rate limit middelware
  litestar/middleware/rate_limit.py
  tests/unit/test_middleware/test_rate_limit_middleware.py
Labels: Triage Required :hospital:, pr/external, size: small, type/bug, area/middleware

#3767 fix: map JSONSchema spec naming convention to snake_case when names from schema_extra are not found (#3766)
  litestar/_openapi/schema_generation/schema.py
  litestar/openapi/spec/schema.py
  tests/unit/test_contrib/test_pydantic/test_openapi.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/private-api, type/bug

#3779 docs(readme): Remove reference to `litestar-pg-redis-docker`
  README.md
  docs/PYPI_README.md
Labels: pr/internal, size: small, area/docs, type/docs

#3790 chore(devcontainer): Fix python version in devcontainer
  .devcontainer/Dockerfile
Labels: Triage Required :hospital:, pr/external, size: small

#3788 docs: Fix python code highlight in many examples
  CONTRIBUTING.rst
  docs/usage/applications.rst
  docs/usage/custom-types.rst
  docs/usage/routing/handlers.rst
  docs/usage/routing/overview.rst
  docs/usage/routing/parameters.rst
  docs/usage/security/jwt.rst
  docs/usage/security/secret-datastructures.rst
  docs/usage/security/security-backends.rst
  docs/usage/static-files.rst
  docs/usage/websockets.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, area/docs, type/docs, size: medium

#3794 docs: fix a typo in `requests` usage docs
  docs/usage/requests.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3798 docs: fix typos in `sqlalchemy` examples
  docs/examples/contrib/sqlalchemy/sqlalchemy_async_repository.py
  docs/examples/contrib/sqlalchemy/sqlalchemy_declarative_models.py
  docs/examples/contrib/sqlalchemy/sqlalchemy_repository_extension.py
  docs/examples/contrib/sqlalchemy/sqlalchemy_sync_repository.py
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3797 docs: fix typos in `sqlalchemy/models_and_repository.rst`
  docs/usage/databases/sqlalchemy/models_and_repository.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3795 docs: fix missing import in `cache` usage
  docs/usage/caching.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3796 docs: make sure that `channels` use `finally` in all examples
  docs/usage/channels.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3799 docs: change `sync-to-thread-info.rst` wording about `sync_to_thread`
  docs/admonitions/sync-to-thread-info.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3805 docs: add missing rename strategy to `dto` docs
  docs/usage/dto/1-abstract-dto.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3809 fix: typo in a deprecation warning in `contrib/sqlalchemy/plugins/serialization.py`
  litestar/contrib/sqlalchemy/plugins/serialization.py
Labels: Triage Required :hospital:, pr/external, size: small, type/bug

#3811 chore(ci): fix the `pr_merged.yml` workflow
  .github/workflows/pr-merged.yml
Labels: Triage Required :hospital:, pr/external, area/ci, size: small

#3817 chore(mypy): enable more mypy codes
  litestar/middleware/logging.py
  litestar/testing/websocket_test_session.py
  pyproject.toml
Labels: Triage Required :hospital:, pr/external, size: small, area/dependencies, area/middleware, area/testing

#3818 chore(mypy): enable `possibly-undefined` error code
  litestar/contrib/sqlalchemy/__init__.py
  litestar/contrib/sqlalchemy/repository/__init__.py
  pyproject.toml
Labels: Enhancement, Triage Required :hospital:, Typing, pr/external, pr/internal, size: small, area/dependencies

#3813 docs: fix `DTO Data` section with a new example
  docs/usage/dto/1-abstract-dto.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3815 docs: fix highlight of code example in "Providing values for nested data"
  docs/usage/dto/1-abstract-dto.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3825 docs: rewrite htmx guide
  docs/usage/htmx.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3826 docs: refactor "Hooks" usage documentation
  docs/usage/lifecycle-hooks.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3831 docs: fix API reference for `asgi_types` scopes
  docs/reference/types.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3830 docs: rewrite "Builtin middleware" usage
  docs/usage/logging.rst
  docs/usage/middleware/builtin-middleware.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3784 fix(prometheus): fix path template for routes without path parameters
  litestar/_asgi/routing_trie/traversal.py
  tests/examples/test_contrib/prometheus/test_prometheus_exporter_example.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/private-api, type/bug

#3833 docs: refactor "Custom Middleware" guide
  docs/examples/middleware/base.py
  docs/usage/middleware/creating-middleware.rst
  docs/usage/middleware/using-middleware.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3836 fix: LifespanHandler memory stream cleanup
  litestar/testing/client/async_client.py
  litestar/testing/client/sync_client.py
  litestar/testing/life_span_handler.py
  tests/unit/test_testing/test_lifespan_handler.py
Labels: pr/internal, size: small, type/bug, area/testing

#3823 docs: refactor exception usage
  docs/usage/exceptions.rst
  docs/usage/plugins/index.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3837 feat: implement `HTMX` plugin using `litestar-htmx`
  .pre-commit-config.yaml
  docs/conf.py
  docs/reference/plugins/htmx.rst
  docs/reference/plugins/index.rst
  docs/usage/htmx.rst
  litestar/contrib/htmx/_utils.py
  litestar/contrib/htmx/request.py
  litestar/contrib/htmx/response.py
  litestar/contrib/htmx/types.py
  litestar/datastructures/upload_file.py
  litestar/plugins/htmx.py
  pdm.lock
  pyproject.toml
  tests/unit/test_contrib/test_htmx/test_htmx_deprecations.py
  tests/unit/test_contrib/test_htmx/test_htmx_request.py
  tests/unit/test_template/test_template.py
  tests/unit/test_testing/test_test_client.py
Labels: pr/internal, area/docs, area/dependencies, type/feat, area/plugins, area/datastructures, size: medium

#3843 feat(Pydantic): honor hide_input_in_errors in throwing validation exceptions
  litestar/contrib/pydantic/pydantic_init_plugin.py
Labels: pr/external, size: small, type/feat

#3845 fix: Safe Handling of "more_body" in ASGI Responses
  litestar/middleware/logging.py
  litestar/middleware/response_cache.py
Labels: Triage Required :hospital:, pr/external, size: small, type/bug, area/middleware
