Repository litestar-org/litestar, pull requests merged in 2025-02, with the labels that each got.

#3977 feat: Make better error message for invalid --app string
  litestar/cli/_utils.py
  tests/unit/test_cli/test_cli.py
Labels: Triage Required :hospital:, pr/external, size: small, area/private-api, type/feat

#3981 feat(DTOs): Support `@property` fields for msgspec and dataclass
  litestar/dto/base_dto.py
  litestar/dto/dataclass_dto.py
  litestar/dto/msgspec_dto.py
  tests/unit/test_contrib/test_msgspec.py
  tests/unit/test_dto/test_factory/test_dataclass_dto.py
Labels: pr/internal, size: small, type/feat, area/dto

#3985 docs: fastapi migration
  docs/migration/fastapi.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3993 docs: fix v2.14.0 release notes
  docs/release-notes/changelog.rst
Labels: pr/internal, size: small, area/docs, type/docs

#3994 docs: Add missing port to url
  docs/tutorials/todo-app/1-accessing-the-list.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs

#4008 docs: Fix casing in name of ValkeyStore
  docs/usage/stores.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3988 docs: Updated the Pydantic model configuration in Requests example with multiple files
  docs/examples/request_data/request_data_8.py
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#4011 docs: #3998 Fix IETF reference
  litestar/middleware/rate_limit.py
Labels: Triage Required :hospital:, pr/external, size: small, area/middleware

#4017 docs: improve github issue templates
  .github/ISSUE_TEMPLATE/BUG.yml
  .github/ISSUE_TEMPLATE/DOCS.yml
  .github/ISSUE_TEMPLATE/REQUEST.yml
Labels: Triage Required :hospital:, pr/external, area/ci, size: small, type/docs

#4022 ci: Add aggregate test step to allow for dynamic test matrix jobs to be requried checks
  .github/workflows/ci.yml
Labels: pr/internal, area/ci, size: small

#3996 feat(core): new base middleware
  docs/examples/middleware/abstract_middleware_migration_new.py
  docs/examples/middleware/abstract_middleware_migration_old.py
  docs/examples/middleware/middleware_protocol_migration_new.py
  docs/examples/middleware/middleware_protocol_migration_old.py
  docs/examples/middleware/request_timing.py
  docs/examples/middleware/using_asgi_middleware.py
  docs/usage/middleware/creating-middleware.rst
  litestar/middleware/__init__.py
  litestar/middleware/_utils.py
  litestar/middleware/base.py
  tests/unit/test_middleware/test_base_middleware.py
Labels: pr/internal, area/docs, area/private-api, type/feat, area/middleware, size: medium

#4023 docs: fix typos in channels and responses
  docs/usage/channels.rst
  docs/usage/responses.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#4025 feat: Add `SerializationPlugin` and `InitPlugin` to replace their respective protocols
  docs/examples/plugins/init_plugin_protocol.py
  docs/usage/plugins/index.rst
  litestar/_openapi/plugin.py
  litestar/channels/plugin.py
  litestar/contrib/opentelemetry/plugin.py
  litestar/plugins/__init__.py
  litestar/plugins/base.py
  litestar/plugins/flash.py
  litestar/plugins/problem_details.py
  litestar/plugins/pydantic/__init__.py
  litestar/plugins/pydantic/plugins/init.py
  litestar/plugins/structlog.py
  tests/unit/test_plugins/test_base.py
Labels: pr/internal, area/docs, area/openapi, area/private-api, type/feat, area/plugins, size: medium, area/channels

#3967 feat(debugger): passing debugger to app
  .pre-commit-config.yaml
  docs/usage/debugging.rst
  litestar/app.py
  litestar/config/app.py
  litestar/middleware/_internal/exceptions/middleware.py
  litestar/types/__init__.py
  litestar/types/debugger_types.py
  pyproject.toml
  test_apps/debugging/__init__.py
  test_apps/debugging/main.py
  tests/unit/test_middleware/test_exception_handler_middleware.py
Labels: Triage Required :hospital:, pr/external, pr/internal, area/docs, area/private-api, area/dependencies, type/feat, area/types, size: medium

#4028 feat(plugins): Remove deprecated `SerializationPluginProtocol`
  docs/release-notes/2.x-changelog.rst
  docs/release-notes/whats-new-2.rst
  docs/release-notes/whats-new-3.rst
  docs/usage/plugins/index.rst
  litestar/app.py
  litestar/config/app.py
  litestar/plugins/__init__.py
  litestar/plugins/base.py
  pyproject.toml
  uv.lock
Labels: pr/internal, size: small, area/docs, area/private-api, area/dependencies, type/feat, area/plugins, size: medium

#4032 docs: Use "click to toggle" instead of "click to expand"
  docs/tutorials/repository-tutorial/01-modeling-and-features.rst
  docs/tutorials/repository-tutorial/02-repository-introduction.rst
  docs/tutorials/repository-tutorial/03-repository-controller.rst
  docs/tutorials/repository-tutorial/04-repository-other.rst
  docs/usage/channels.rst
  docs/usage/security/guards.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#4033 fix: Warn about using streaming responses with a `body`
  litestar/response/streaming.py
Labels: pr/internal, size: small, type/bug, area/response

#4036 fix: Fix #4035 - incorrect deprecation warning issued when subclassing middlewares
  docs/examples/middleware/base.py
  litestar/middleware/base.py
Labels: pr/internal, size: small, area/docs, type/bug, area/middleware

#4015 fix: check for default headers before appending to cors header failures
  litestar/middleware/_internal/cors.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, type/bug

#4039 docs: Make the spelling of "modelling" consistent
  docs/tutorials/repository-tutorial/01-modelling-and-features.rst
  docs/tutorials/repository-tutorial/02-repository-introduction.rst
  docs/tutorials/repository-tutorial/index.rst
  litestar/app.py
  litestar/config/app.py
  litestar/controller.py
  litestar/handlers/base.py
  litestar/router.py
  litestar/testing/helpers.py
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, area/handlers, type/docs, area/testing, area/router, area/controller

#4038 docs: Fix `ASGIMiddleware` docs (#4031)
  docs/usage/middleware/creating-middleware.rst
Labels: pr/internal, size: small, area/docs, type/docs

#4034 feat!: Remove deprecated `body` param from streaming and file responses
  docs/release-notes/whats-new-3.rst
  litestar/response/file.py
  litestar/response/streaming.py
Labels: pr/internal, size: small, area/docs, type/feat, Breaking 🔨, area/response
