Repository litestar-org/litestar, pull requests merged in 2025-01, with the labels that each got.

#3917 fix(sqlalchemy): updates to documentation based on upstream changes
  docs/examples/contrib/sqlalchemy/sqlalchemy_declarative_models.py
  litestar/contrib/sqlalchemy/base.py
  tests/examples/test_contrib/test_sqlalchemy/test_sqlalchemy_examples.py
  tests/unit/test_plugins/test_sqlalchemy.py
  uv.lock
Labels: pr/internal, size: small, area/docs, type/bug, area/dependencies

#3920 feat: use "path" as an error message source
  litestar/_signature/model.py
  tests/unit/test_signature/test_validation.py
Labels: Triage Required :hospital:, pr/external, size: small, area/private-api, type/feat, area/signature

#3918 fix(picologging): better handle unsupported environments
  litestar/logging/config.py
  litestar/logging/picologging.py
  pyproject.toml
  tests/helpers.py
  tests/unit/test_logging/test_logging_config.py
Labels: pr/internal, size: small, type/bug, area/dependencies, area/logging

#3916 fix(channels): use `SQL` function for `psycopg`
  litestar/channels/backends/psycopg.py
  tests/unit/test_channels/test_plugin.py
Labels: pr/internal, size: small, type/bug

#3655 feat: added subprocess test client
  docs/examples/testing/subprocess_sse_app.py
  docs/examples/testing/test_subprocess_sse.py
  docs/reference/testing.rst
  docs/usage/testing.rst
  litestar/testing/__init__.py
  litestar/testing/client/subprocess_client.py
  tests/unit/test_testing/test_sub_client/__init__.py
  tests/unit/test_testing/test_sub_client/demo.py
  tests/unit/test_testing/test_sub_client/test_subprocess_client.py
Labels: pr/external, pr/internal, size: small, area/docs, area/private-api, type/feat, area/testing

#3803 docs: mention `id` field in `1-abstract-dto.rst`
  docs/examples/data_transfer_objects/factory/marking_fields.py
  docs/examples/data_transfer_objects/factory/simple_dto_factory_example.py
  docs/usage/dto/1-abstract-dto.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3924 chore(build): prevent python 3.13 from installing
  Makefile
Labels: pr/internal, size: small

#3925 chore(test): update `pytest` and unpin max version
  pyproject.toml
  tests/unit/test_openapi/conftest.py
  tests/unit/test_typing.py
  uv.lock
Labels: pr/internal, size: small, area/dependencies

#3927 fix(compression middleware): Fix resource handling
  litestar/middleware/compression/middleware.py
  tests/unit/test_middleware/test_compression_middleware.py
Labels: pr/internal, size: small, type/bug

#3850 feat: add support for Python 3.13
  .github/workflows/ci.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  litestar/channels/backends/psycopg.py
  pyproject.toml
  tests/unit/test_channels/test_plugin.py
  tests/unit/test_kwargs/test_validations.py
  tests/unit/test_middleware/test_middleware_handling.py
  uv.lock
Labels: pr/internal, area/ci, size: small, area/dependencies, type/feat

#3931 fix(ci): only install dev tools in ubuntu
  .github/workflows/test.yml
Labels: pr/internal, area/ci, size: small, type/bug

#3932 feat(ci): implement `psycopg` client installation for macos and windows
  .github/workflows/ci.yml
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Labels: pr/internal, area/ci, size: small, area/dependencies, type/feat

#3933 chore(release): updates change log for `v2.14.0`
  docs/release-notes/changelog.rst
Labels: pr/internal, size: small, area/docs

#3939 fix: configure default loop scope
  docs/conf.py
  docs/examples/testing/test_subprocess_sse.py
  pyproject.toml
  tests/unit/test_channels/test_subscriber.py
  tests/unit/test_testing/test_sub_client/test_subprocess_client.py
Labels: pr/internal, size: small, area/docs, type/bug, area/dependencies

#3935 docs: fix typo in dependency_validation_error
  docs/examples/dependency_injection/dependency_validation_error.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3929 docs: some flask issues
  docs/migration/flask.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#3938 fix(ci): Github CI fail due to deprecated action
  .github/workflows/ci.yml
  .github/workflows/test.yml
Labels: pr/internal, area/ci, size: small, type/bug

#3940 chore: welcome to 2025
  LICENSE
  docs/conf.py
Labels: pr/internal, size: small, area/docs

#3351 docs: update ``usage/channels``
  docs/usage/channels.rst
Labels: pr/internal, size: small, area/docs, type/docs, no changelog

#3945 fix(ASGI mounts): Prevent accidental scope overrides by mounted ASGI apps
  docs/examples/application_hooks/after_exception_hook.py
  docs/examples/application_hooks/before_send_hook.py
  docs/examples/application_state/using_application_state.py
  docs/examples/routing/mount_custom_app.py
  docs/examples/routing/mounting_starlette_app.py
  docs/usage/applications.rst
  litestar/app.py
  litestar/connection/base.py
  litestar/handlers/asgi_handlers.py
  litestar/middleware/_internal/cors.py
  litestar/middleware/_internal/exceptions/middleware.py
  litestar/middleware/csrf.py
  litestar/middleware/logging.py
  litestar/middleware/rate_limit.py
  litestar/middleware/response_cache.py
  litestar/routes/asgi.py
  litestar/routes/http.py
  litestar/testing/client/base.py
  litestar/testing/request_factory.py
  litestar/types/asgi_types.py
  litestar/utils/scope/__init__.py
  tests/conftest.py
  tests/unit/test_app.py
  tests/unit/test_handlers/test_asgi_handlers/test_handle_asgi.py
Labels: pr/internal, area/docs, area/handlers, type/bug, area/middleware, area/types, size: medium, area/connection, area/testing

#3947 fix: corrected import of attrs
  litestar/app.py
Labels: Triage Required :hospital:, pr/external, size: small, type/bug

#3958 chore: let sphinx-autobuild automatically choose a port
  Makefile
Labels: Triage Required :hospital:, pr/external, size: small

#3952 feat(routing): simplify route creation
  litestar/app.py
  tests/e2e/test_router_registration.py
Labels: pr/internal, size: small, type/feat

#3956 chore: open docs in browser after building
  Makefile
Labels: Triage Required :hospital:, pr/external, size: small

#3955 chore: remove unnecessary flags from install command in Makefile
  Makefile
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small

#3953 chore: pin to Python 3.12 for docs commands only; fix contributing docs
  CONTRIBUTING.rst
  Makefile
Labels: Triage Required :hospital:, pr/external, size: small, area/docs

#3959 chore: allow sphinx-autobuild to choose port for serving docs
  Makefile
Labels: Triage Required :hospital:, pr/external, size: small

#3962 chore: add funding and discussions to pyproject for pypi
  pyproject.toml
Labels: Triage Required :hospital:, pr/external, size: small, area/dependencies

#3960 feat(jwt): Added revoked token handler support
  docs/examples/security/jwt/using_token_revocation.py
  docs/usage/security/jwt.rst
  litestar/security/jwt/auth.py
  litestar/security/jwt/middleware.py
  tests/unit/test_security/test_jwt/test_auth.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/feat

#3963 fix(docs): improve text color for dark theme in mermaid diagrams
  docs/_static/style.css
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/bug

#3970 docs: fix spell mistake in nginx-unit
  docs/examples/deployment/nginx-unit/unit.json
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#3972 feat: allow route_reverse params of type uuid to be passed as str
  litestar/app.py
  tests/e2e/test_routing/test_route_reverse.py
Labels: Triage Required :hospital:, pr/external, size: small, type/feat

#3973 docs: gunicorn with uvicorn workers
  docs/topics/deployment/manually-with-asgi-server.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs
