Repository litestar-org/litestar, pull requests merged in 2025-10, with the labels that each got.

#4376 test: allow tests to be run regardless of root directory
  tests/unit/test_file_system.py
Labels: Triage Required :hospital:, pr/external, size: small

#4380 docs: fix(README/PYPI_README): remove duplicate of mgspec and attrs link
  README.md
  docs/PYPI_README.md
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#4371 fix(OpenAPI): Fix `Stream` response being treated as `File` response in OpenAPI schema
  litestar/_openapi/responses.py
  tests/unit/test_openapi/test_responses.py
Labels: pr/internal, size: small, area/openapi, area/private-api, type/bug

#4382 docs: fix(getting-started): fix(getting-started): remove outdated information about the CLI
  docs/getting-started.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#4385 docs: fix(getting-started): replace structlog to polyfactory for Polyfactory section
  docs/getting-started.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#4383 docs: fix(docs/config): remove pin versions in intersphinx mapping
  docs/conf.py
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#4352 fix(cli): pass the `--app-dir` option to the uvicorn subprocess when the reload option is enabled.
  litestar/cli/commands/core.py
  tests/unit/test_cli/test_core_commands.py
  tests/unit/test_cli/test_ssl.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, type/bug

#4241 fix(jwt): Relax typing to allow `Sequence` for `Token.aud`
  litestar/security/jwt/token.py
  tests/unit/test_security/test_jwt/test_token.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, type/bug

#4343 feat: deprecate litestar.plugins.sqlalchemy module for v3 removal
  litestar/plugins/sqlalchemy.py
  tests/unit/test_deprecations.py
  tests/unit/test_kwargs/test_multipart_data.py
  tests/unit/test_kwargs/test_reserved_kwargs_injection.py
Labels: pr/internal, size: small, type/feat, area/plugins

#4405 fix: Use `inspect.iscoroutinefunction` instead of `asyncio.iscoroutinefunction` to address deprecation warning in Python 3.14+
  litestar/utils/predicates.py
Labels: Triage Required :hospital:, pr/external, size: small, type/bug
