Repository litestar-org/litestar, pull requests merged in 2025-06, with the labels that each got.

#4192 feat(jwt): [#4191] extend Token.encode() to support custom headers
  litestar/security/jwt/token.py
  tests/unit/test_security/test_jwt/test_token.py
Labels: Triage Required :hospital:, pr/external, size: small, type/feat

#4208 docs: fix `redis` inventory
  docs/conf.py
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#4220 feat: Include ReceiveRoutePlugin in base plugins
  docs/usage/plugins/index.rst
  litestar/plugins/__init__.py
  litestar/plugins/base.py
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, area/private-api, type/feat, area/plugins

#4218 feat: Generate correct OpenAPI type and format for pydantic.AwareDate…
  litestar/plugins/pydantic/plugins/schema.py
  tests/unit/test_plugins/test_pydantic/test_plugin_serialization.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, type/feat
