Repository litestar-org/litestar, pull requests merged in 2025-03, with the labels that each got.

#4040 docs: add websockets testing capabilities
  docs/examples/testing/test_websocket.py
  docs/usage/testing.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#4045 fix(events): ensure callable metadata is replicated
  litestar/events/listener.py
  tests/unit/test_events.py
Labels: Triage Required :hospital:, pr/external, size: small, area/events

#4049 fix: explicit specification of arguments in FileSystemAdapter open func.
  litestar/file_system.py
Labels: Triage Required :hospital:, pr/external, size: small, type/bug, area/file-system

#4050 chore: update maintainers and apply TOML lint to `pyproject.toml`
  pyproject.toml
Labels: pr/internal, size: small, area/dependencies

#4047 docs: Use monospace in code captions where applicable
  docs/topics/deployment/docker.rst
  docs/topics/deployment/nginx-unit.rst
  docs/tutorials/dto-tutorial/01-simple-dto-exclude.rst
  docs/tutorials/dto-tutorial/index.rst
  docs/tutorials/repository-tutorial/01-modelling-and-features.rst
  docs/tutorials/repository-tutorial/02-repository-introduction.rst
  docs/tutorials/repository-tutorial/03-repository-controller.rst
  docs/tutorials/repository-tutorial/04-repository-other.rst
  docs/tutorials/todo-app/0-application-basics.rst
  docs/tutorials/todo-app/1-accessing-the-list.rst
  docs/tutorials/todo-app/3-assembling-the-app.rst
  docs/usage/databases/piccolo.rst
  docs/usage/databases/sqlalchemy/models_and_repository.rst
  docs/usage/dependency-injection.rst
  docs/usage/middleware/builtin-middleware.rst
  docs/usage/requests.rst
  docs/usage/security/abstract-authentication-middleware.rst
  docs/usage/security/guards.rst
  docs/usage/security/secret-datastructures.rst
  docs/usage/templating.rst
  docs/usage/testing.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, area/docs, type/docs, size: medium

#4061 docs: Fix syntax error in flask migration doc
  docs/migration/flask.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs

#4062 feat: v3 - Make `polyfactory` an optional dependency
  docs/examples/openapi/generating_examples.py
  docs/getting-started.rst
  docs/release-notes/whats-new-3.rst
  docs/usage/openapi/schema_generation.rst
  pyproject.toml
  uv.lock
Labels: pr/internal, size: small, area/docs, area/dependencies, type/feat

#4065 docs(v3): fix build error
  litestar/openapi/spec/security_requirement.py
Labels: pr/internal, size: small, type/docs

#4066 chore: Remove sonar
  .github/workflows/ci.yml
  README.md
  docs/PYPI_README.md
  sonar-project.properties
Labels: pr/internal, area/ci, size: small, area/docs

#4064 feat(v3): Move `pyyaml` default dependency to `litestar[yaml]` extra
  docs/getting-started.rst
  docs/release-notes/whats-new-3.rst
  docs/usage/openapi/ui_plugins.rst
  litestar/openapi/plugins.py
  pyproject.toml
  uv.lock
Labels: pr/internal, size: small, area/docs, area/dependencies, type/feat

#4056 feat: v3 - new file system implementation
  Makefile
  docs/conf.py
  docs/examples/file_systems/__init__.py
  docs/examples/file_systems/fsspec_implicit_wrap.py
  docs/examples/file_systems/fsspec_registry_wrap.py
  docs/examples/file_systems/fsspec_wrap.py
  docs/examples/file_systems/register_linkable.py
  docs/examples/file_systems/registry.py
  docs/examples/file_systems/registry_access.py
  docs/examples/file_systems/registry_default.py
  docs/examples/responses/file_response_fs.py
  docs/examples/responses/file_response_fs_registry.py
  docs/reference/file_system.rst
  docs/reference/index.rst
  docs/reference/types.rst
  docs/release-notes/whats-new-3.rst
  docs/usage/file_systems.rst
  docs/usage/index.rst
  docs/usage/responses.rst
  docs/usage/static-files.rst
  litestar/_openapi/responses.py
  litestar/app.py
  litestar/file_system.py
  litestar/response/base.py
  litestar/response/file.py
  litestar/static_files.py
  litestar/types/__init__.py
  litestar/types/file_types.py
  pyproject.toml
  tests/unit/test_file_system.py
  tests/unit/test_handlers/test_http_handlers/test_head.py
  tests/unit/test_plugins/test_base.py
  tests/unit/test_response/test_file_response.py
  tests/unit/test_response/test_response_to_asgi_response.py
  tests/unit/test_static_files/conftest.py
  tests/unit/test_static_files/test_file_serving_resolution.py
  tests/unit/test_static_files/test_html_mode.py
  tests/unit/test_static_files/test_static_files_validation.py
  uv.lock
Labels: pr/internal, area/docs, area/openapi, area/private-api, area/dependencies, type/feat, size: large, area/types, area/response, area/file-system

#4067 docs: Replace expired Discord invite link
  README.md
  docs/PYPI_README.md
Labels: Triage Required :hospital:, pr/external, size: small, area/docs

#4077 fix: change ruff TCH to TC
  pyproject.toml
Labels: Triage Required :hospital:, pr/external, size: small, type/bug, area/dependencies
