Repository litestar-org/litestar, pull requests merged in 2025-05, with the labels that each got.

#4132 fix(openapi): support prefixItems for tuple schema
  litestar/_openapi/schema_generation/schema.py
  tests/unit/test_openapi/test_schema.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/private-api, type/bug

#4159 feat(DTO): Populate `linecache` for generated transfer functions
  litestar/dto/_codegen_backend.py
Labels: pr/internal, size: small, area/private-api, type/feat, area/dto

#4160 feat(DTO): Add custom attribute accessor callable
  litestar/dto/_backend.py
  litestar/dto/_codegen_backend.py
  litestar/dto/base_dto.py
  tests/unit/test_dto/test_factory/test_backends/test_backends.py
Labels: pr/internal, size: small, area/private-api, type/feat, area/dto

#4161 fix(cli): pre parse launch arguments when cli command executed
  litestar/cli/_utils.py
  tests/unit/test_cli/conftest.py
  tests/unit/test_cli/test_cli_plugin.py
Labels: Triage Required :hospital:, pr/external, size: small, area/private-api, type/bug

#4162 feat: add scalar configuration
  litestar/openapi/plugins.py
  tests/unit/test_openapi/test_plugins.py
Labels: Triage Required :hospital:, pr/external, size: small, type/feat

#4165 docs: Correct typo in static-files.rst
  docs/usage/static-files.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs

#4158 fix(openapi): wrong annotation passed to FieldDefinition (DTO)
  litestar/dto/base_dto.py
  tests/unit/test_dto/test_factory/test_integration.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, type/bug, area/dto

#4171 test: Add more tests for default options handler
  tests/e2e/test_option_requests.py
Labels: Triage Required :hospital:, pr/external, size: small

#4167 feat: Middleware constraints
  docs/examples/middleware/constraints.py
  docs/examples/middleware/constraints_string_ref.py
  docs/reference/middleware/constraints.rst
  docs/reference/middleware/index.rst
  docs/release-notes/whats-new-3.rst
  docs/usage/middleware/creating-middleware.rst
  docs/usage/middleware/using-middleware.rst
  litestar/_asgi/routing_trie/mapping.py
  litestar/handlers/base.py
  litestar/middleware/base.py
  litestar/middleware/constraints.py
  litestar/types/composite_types.py
  tests/unit/test_handlers/test_base_handlers/test_validations.py
  tests/unit/test_middleware/test_constraints.py
Labels: pr/internal, area/docs, area/handlers, area/private-api, type/feat, area/middleware, area/types, size: medium

#4177 feat(openapi): add option to exclude parameter from schema
  litestar/_openapi/parameters.py
  litestar/params.py
  tests/unit/test_openapi/test_parameters.py
  tests/unit/test_params.py
Labels: Triage Required :hospital:, pr/external, size: small, area/openapi, area/private-api, type/feat, area/params

#4190 docs: always use `'` for dependencies with groups
  README.md
  docs/PYPI_README.md
  docs/index.rst
  docs/migration/flask.rst
  docs/release-notes/changelog.rst
  docs/tutorials/todo-app/0-application-basics.rst
  docs/usage/cli.rst
  docs/usage/databases/sqlalchemy/plugins/sqlalchemy_plugin.rst
  docs/usage/metrics/open-telemetry.rst
  docs/usage/metrics/prometheus.rst
  docs/usage/middleware/builtin-middleware.rst
  docs/usage/security/jwt.rst
  docs/usage/templating.rst
  litestar/exceptions/base_exceptions.py
  tests/unit/test_exceptions.py
Labels: Triage Required :hospital:, pr/external, area/docs, type/docs, size: medium, area/exceptions
