Repository litestar-org/litestar, pull requests merged in 2025-04, with the labels that each got.

#4089 fix(typing): Correctly handle `typing_extensions.TypeAliasType` on `typing-extensions>4.13.0` (fix #4088)
  .github/workflows/ci.yml
  .github/workflows/test.yml
  litestar/typing.py
  tests/unit/test_typing.py
Labels: pr/internal, area/ci, size: small, type/bug

#4090 ci: Test against typing-extension pre-releases
  .github/workflows/ci.yml
Labels: pr/internal, area/ci, size: small

#4086 feat(log): disable stack trace
  README.md
  docs/PYPI_README.md
  docs/usage/logging.rst
  litestar/logging/config.py
  litestar/middleware/_internal/exceptions/middleware.py
  tests/unit/test_logging/test_logging_config.py
  tests/unit/test_logging/test_structlog_config.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/feat, area/logging

#4080 refactor: use typos
  .pre-commit-config.yaml
  litestar/dto/_backend.py
  litestar/dto/dataclass_dto.py
  litestar/handlers/websocket_handlers/_utils.py
  litestar/router.py
  pyproject.toml
  test_apps/debugging/main.py
  tests/unit/test_kwargs/test_layered_params.py
  tests/unit/test_middleware/test_session/test_client_side_backend.py
  tests/unit/test_params.py
  tests/unit/test_response/test_base_response.py
  tests/unit/test_response/test_file_response.py
  typos.toml
Labels: Triage Required :hospital:, pr/external, area/private-api, area/dependencies, area/dto, size: medium, area/router

#4096 docs: add example for cache_response_filter
  docs/examples/caching/cache_response_filter.py
  docs/usage/caching.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#4097 docs: add usage of server_lifespan hook and motivations
  docs/usage/cli.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#4101 docs: add mention in guard docs from where connection.user comes from
  docs/examples/security/guards.py
  docs/usage/security/guards.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#4095 docs: rework custom authentication middleware
  docs/examples/security/using_abstract_authentication_middleware.py
  docs/usage/security/abstract-authentication-middleware.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#4094 docs: Replace contrib with plugins in example code
  docs/examples/contrib/sqlalchemy/plugins/tutorial/full_app_with_init_plugin.py
  docs/examples/contrib/sqlalchemy/plugins/tutorial/full_app_with_plugin.py
  docs/examples/contrib/sqlalchemy/plugins/tutorial/full_app_with_serialization_plugin.py
  docs/examples/contrib/sqlalchemy/sqlalchemy_repository_bulk_operations.py
  docs/examples/contrib/sqlalchemy/sqlalchemy_repository_crud.py
  docs/examples/contrib/sqlalchemy/sqlalchemy_repository_extension.py
  docs/examples/contrib/sqlalchemy/sqlalchemy_sync_repository.py
  docs/examples/data_transfer_objects/factory/my_lib.py
  docs/examples/pagination/using_offset_pagination_with_sqlalchemy.py
  docs/examples/plugins/sqlalchemy/configure.py
  docs/examples/plugins/sqlalchemy/modelling.py
  docs/examples/plugins/sqlalchemy_init_plugin/sqlalchemy_async.py
  docs/examples/plugins/sqlalchemy_init_plugin/sqlalchemy_sync.py
  docs/tutorials/repository-tutorial/02-repository-introduction.rst
  docs/tutorials/repository-tutorial/04-repository-other.rst
  docs/tutorials/sqlalchemy/2-serialization-plugin.rst
  docs/tutorials/sqlalchemy/3-init-plugin.rst
  docs/tutorials/sqlalchemy/4-final-touches-and-recap.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, area/docs, type/docs, size: medium

#4115 chore: upgrade ruff and apply latest linting config
  .pre-commit-config.yaml
  docs/_static/favicon.png
  docs/_static/favicon.svg
  docs/_static/litestar-sphinx-theme.css
  docs/_static/litestar-theme.js
  docs/_static/logo-dark.png
  docs/_static/logo-light.png
  litestar/_openapi/schema_generation/constrained_fields.py
  litestar/_openapi/schema_generation/schema.py
  litestar/_signature/model.py
  litestar/cli/commands/core.py
  litestar/contrib/htmx/_utils.py
  litestar/contrib/htmx/request.py
  litestar/contrib/htmx/response.py
  litestar/contrib/htmx/types.py
  litestar/contrib/minijinja.py
  litestar/contrib/piccolo.py
  litestar/datastructures/headers.py
  litestar/datastructures/multi_dicts.py
  litestar/file_system.py
  litestar/handlers/base.py
  litestar/handlers/http_handlers/base.py
  litestar/handlers/websocket_handlers/stream.py
  litestar/plugins/base.py
  litestar/plugins/pydantic/plugins/di.py
  litestar/plugins/sqlalchemy.py
  litestar/utils/sync.py
  litestar/utils/typing.py
  pyproject.toml
  tests/e2e/test_pydantic.py
  tests/unit/test_openapi/test_schema.py
  tests/unit/test_plugins/test_pydantic/test_openapi.py
  tests/unit/test_plugins/test_pydantic/test_plugin_serialization.py
  tests/unit/test_plugins/test_sqlalchemy.py
  tests/unit/test_template/test_template.py
  tools/sphinx_ext/changelog.py
  uv.lock
Labels: pr/internal, area/docs, area/handlers, area/private-api, area/dependencies, area/plugins, area/contrib, size: large, area/datastructures, area/signature, area/file-system

#4120 docs: 📚 Fix return value for UploadFile
  litestar/datastructures/upload_file.py
Labels: Triage Required :hospital:, pr/external, size: small, type/docs, area/datastructures

#4124 docs: clarify WebSocket `send_websocket_stream` capabilities
  docs/usage/websockets.rst
Labels: pr/internal, size: small, area/docs, type/docs

#4126 fix(typing): Remove usage of private `_AnnotatedAlias`
  litestar/utils/predicates.py
Labels: pr/internal, size: small, type/bug

#4108 docs: add test to stream_and_receive_listener and mention on json default
  docs/examples/websockets/stream_and_receive_listener.py
  docs/examples/websockets/stream_and_receive_raw.py
  docs/usage/websockets.rst
  tests/examples/test_websockets.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#4133 feat(openapi): add custom example ids support
  litestar/_openapi/schema_generation/utils.py
  litestar/openapi/spec/example.py
  tests/unit/test_openapi/test_responses.py
Labels: Triage Required :hospital:, pr/external, size: small, area/private-api, type/feat

#4139 docs(CLI): Make CLI docs about app discovery more coherent
  docs/usage/cli.rst
  litestar/cli/__init__.py
  litestar/cli/commands/core.py
  litestar/cli/main.py
Labels: pr/internal, size: small, area/docs, area/private-api, type/docs

#4128 docs: show exceptions raised aren't always JSON
  docs/examples/exceptions/implicit_media_type.py
  docs/usage/exceptions.rst
  tests/e2e/test_exception_handlers/test_exception_handlers.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#4099 docs: test most requests.rst literalinclude
  docs/examples/request_data/request_data_10.py
  docs/examples/request_data/request_data_5.py
  docs/examples/request_data/request_data_6.py
  docs/examples/request_data/request_data_7.py
  docs/examples/request_data/request_data_8.py
  docs/examples/request_data/request_data_9.py
  docs/usage/requests.rst
  tests/examples/test_request_data.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#4138 docs: Some readme updates
  README.md
  docs/PYPI_README.md
Labels: pr/internal, size: small, area/docs, type/docs

#4148 fix(DI): Ensure dependencies are cleaned up when exception occurrs during cleanup
  docs/usage/dependency-injection.rst
  litestar/_kwargs/cleanup.py
  litestar/routes/http.py
  litestar/routes/websocket.py
  pyproject.toml
  tests/unit/test_kwargs/test_cleanup_group.py
  tests/unit/test_kwargs/test_generator_dependencies.py
  uv.lock
Labels: pr/internal, size: small, area/docs, area/private-api, type/bug, area/dependencies, area/kwargs

#4151 docs: fixed variable name in ASGIMiddleware code example
  litestar/middleware/base.py
Labels: Triage Required :hospital:, pr/external, size: small, area/middleware

#4152 fix: misleading error message upon ImportError with --app argument to CLI
  litestar/cli/_utils.py
  tests/unit/test_cli/test_cli.py
Labels: Triage Required :hospital:, pr/external, size: small, area/private-api, type/bug

#4153 fix(testing): subprocess client raises exc when fails to start
  litestar/testing/client/subprocess_client.py
  tests/unit/test_testing/test_sub_client/test_subprocess_client.py
Labels: Triage Required :hospital:, pr/external, size: small, type/bug
