Repository litestar-org/litestar, pull requests merged in 2025-07, with the labels that each got.

#4229 chore: use pypi readme
  pyproject.toml
Labels: Triage Required :hospital:, pr/external, size: small, area/dependencies

#4245 docs: fix incorrect parameter name in docstring
  litestar/middleware/base.py
Labels: Triage Required :hospital:, pr/external, size: small, type/docs, area/middleware

#4246 fix: make dependency cleanup in reverse order
  litestar/_kwargs/cleanup.py
  tests/unit/test_kwargs/test_cleanup_group.py
Labels: Triage Required :hospital:, pr/external, size: small, area/private-api, type/bug, area/kwargs
