Repository litestar-org/litestar, pull requests merged in 2025-09, with the labels that each got.

#4279 fix: Support Pydantic root models
  litestar/plugins/base.py
  litestar/plugins/pydantic/plugins/schema.py
  litestar/plugins/pydantic/utils.py
  tests/unit/test_plugins/test_pydantic/test_schema_plugin.py
Labels: Triage Required :hospital:, pr/external, size: small, type/bug, area/plugins

#4282 fix(OpenAPI): constraint check logic
  litestar/params.py
  tests/unit/test_openapi/test_schema.py
Labels: Triage Required :hospital:, pr/external, size: small, type/bug, area/params

#4275 docs: add reference for advanced alchemy sessions
  docs/usage/middleware/builtin-middleware.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#4271 fix: Preserve empty strings in multipart/form-data requests (#4204)
  litestar/_multipart.py
  tests/unit/test_kwargs/test_multipart_data.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/private-api, type/bug, area/multipart

#4289 fix(routing): Ensure a `MethodNotAllowedException` exception during routing properly sets `Allow` header
  litestar/_asgi/routing_trie/traversal.py
  tests/e2e/test_routing/test_path_resolution.py
Labels: pr/internal, size: small, area/private-api, type/bug

#4290 fix: docs[ReceiveRoutePlugin] documentation
  docs/usage/plugins/index.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/bug

#4286 feat: zstd middleware
  litestar/config/compression.py
  litestar/enums.py
  litestar/middleware/compression/brotli_facade.py
  litestar/middleware/compression/facade.py
  litestar/middleware/compression/gzip_facade.py
  litestar/middleware/compression/middleware.py
  litestar/middleware/compression/zstd_facade.py
  pyproject.toml
  tests/e2e/test_logging/test_structlog_to_file.py
  tests/unit/test_connection/test_request.py
  tests/unit/test_connection/test_websocket.py
  tests/unit/test_kwargs/test_multipart_data.py
  tests/unit/test_middleware/test_compression_middleware.py
  tests/unit/test_middleware/test_logging_middleware.py
  uv.lock
Labels: Triage Required :hospital:, pr/external, pr/internal, area/dependencies, type/feat, area/enums, size: medium

#4291 feat(testing)!: Async native test client
  docs/examples/testing/async_resource_test_issue.py
  docs/examples/testing/async_resource_test_issue_fix.py
  docs/examples/testing/event_loop_demonstration.py
  docs/examples/testing/test_health_check_async.py
  docs/examples/testing/test_websocket_async.py
  docs/examples/testing/test_websocket_sync.py
  docs/examples/testing/test_with_portal.py
  docs/examples/websockets/stream_and_receive_raw.py
  docs/release-notes/changelog.rst
  docs/usage/testing.rst
  litestar/_kwargs/cleanup.py
  litestar/testing/__init__.py
  litestar/testing/client/__init__.py
  litestar/testing/client/_base.py
  litestar/testing/client/async_client.py
  litestar/testing/client/base.py
  litestar/testing/client/sync_client.py
  litestar/testing/helpers.py
  litestar/testing/life_span_handler.py
  litestar/testing/transport.py
  litestar/testing/websocket_test_session.py
  litestar/types/asgi_types.py
  pyproject.toml
  tests/e2e/test_dependency_injection/test_websocket_handler_dependency_injection.py
  tests/e2e/test_response_caching.py
  tests/examples/test_websockets.py
  tests/unit/test_asgi/test_asgi_router.py
  tests/unit/test_channels/test_plugin.py
  tests/unit/test_connection/test_websocket.py
  tests/unit/test_guards.py
  tests/unit/test_kwargs/test_cleanup_group.py
  tests/unit/test_logging/test_logging_config.py
  tests/unit/test_logging/test_structlog_config.py
  tests/unit/test_middleware/test_allowed_hosts_middleware.py
  tests/unit/test_middleware/test_base_authentication_middleware.py
  tests/unit/test_middleware/test_cors_middleware.py
  tests/unit/test_middleware/test_middleware_handling.py
  tests/unit/test_openapi/test_schema.py
  tests/unit/test_plugins/test_pydantic/test_integration.py
  tests/unit/test_response/test_response_to_asgi_response.py
  tests/unit/test_security/test_security.py
  tests/unit/test_testing/test_lifespan_handler.py
  tests/unit/test_testing/test_test_client.py
  uv.lock
Labels: pr/internal, area/docs, area/private-api, area/dependencies, type/feat, size: large, area/types, Breaking 🔨, area/kwargs, area/testing

#4299 feat!: remove deprecated header properties
  docs/release-notes/changelog.rst
  litestar/datastructures/response_header.py
  litestar/openapi/spec/header.py
  tests/unit/test_openapi/test_responses.py
Labels: pr/internal, size: small, area/docs, type/feat, area/datastructures, Breaking 🔨

#4311 feat(response)!: Remove deprecated `encoded_headers` parameter
  docs/release-notes/changelog.rst
  litestar/response/base.py
  litestar/response/file.py
  litestar/response/redirect.py
  litestar/response/streaming.py
  litestar/response/template.py
  tests/unit/test_response/test_base_response.py
  tests/unit/test_response/test_file_response.py
  tests/unit/test_response/test_streaming_response.py
Labels: pr/internal, size: small, area/docs, type/feat, Breaking 🔨, area/response

#4313 feat(template)!: Remove deprecated `TemplateContext`
  docs/release-notes/changelog.rst
  litestar/template/base.py
  tests/unit/test_deprecations.py
Labels: pr/internal, size: small, area/docs, type/feat, Breaking 🔨, area/template

#4310 docs: update docs with zstd
  README.md
  docs/PYPI_README.md
  docs/getting-started.rst
  docs/usage/middleware/builtin-middleware.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#4318 fix: typescript export not handling NotRequired and regression with handling of additional_properties
  litestar/_openapi/typescript_converter/schema_parsing.py
  tests/unit/test_openapi/test_typescript_converter/test_converter.py
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/private-api, type/bug

#4333 feat(jwt): remove deprecate `litestar.contrib.jwt`
  docs/reference/contrib/index.rst
  docs/reference/contrib/jwt.rst
  docs/release-notes/changelog.rst
  litestar/contrib/jwt/__init__.py
  litestar/contrib/jwt/jwt_auth.py
  litestar/contrib/jwt/jwt_token.py
  litestar/contrib/jwt/middleware.py
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/feat

#4336 ci: Add action to cherry pick into `v2` branch
  .github/workflows/cherry-pick-v2.yaml
Labels: pr/internal, area/ci, size: small

#4337 feat(repository)!: remove deprecated `litestar.contrib.repository` module
  docs/reference/contrib/repository/abc.rst
  docs/reference/contrib/repository/exceptions.rst
  docs/reference/contrib/repository/filters.rst
  docs/reference/contrib/repository/handlers.rst
  docs/reference/contrib/repository/testing.rst
  docs/release-notes/changelog.rst
  litestar/contrib/repository/__init__.py
  litestar/contrib/repository/abc/__init__.py
  litestar/contrib/repository/exceptions.py
  litestar/contrib/repository/filters.py
  litestar/contrib/repository/handlers.py
  litestar/contrib/repository/testing.py
  tests/unit/test_contrib/test_repository.py
  tests/unit/test_deprecations.py
Labels: Triage Required :hospital:, pr/external, area/docs, type/feat, size: medium, Breaking 🔨

#4348 ci: run cherry-pick action on PR labeled
  .github/workflows/cherry-pick-v2.yaml
Labels: pr/internal, area/ci, size: small

#4350 feat(pydantic): add `round_trip` parameter to `PydanticPlugin`
  docs/release-notes/changelog.rst
  litestar/plugins/pydantic/__init__.py
  litestar/plugins/pydantic/plugins/init.py
  tests/unit/test_plugins/test_pydantic/test_integration.py
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/feat, cherry-pick v2

#4356 feat(minijinja)!: Remove deprecated `minijinja.minijinja_from_state`
  docs/release-notes/changelog.rst
  litestar/contrib/minijinja.py
  tests/unit/test_deprecations.py
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/feat, area/contrib

#4360 ci: Fix cherry pick action
  .github/workflows/cherry-pick-v2.yaml
Labels: area/ci, size: small

#4368 docs: fix(docs/realse-notes): fix broken links to realse notes
  docs/release-notes/index.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs
