Repository litestar-org/litestar, pull requests merged in 2025-08, with the labels that each got.

#4253 chore: Release 2.17
  .github/workflows/test.yml
  docs/_static/favicon.png
  docs/_static/logo.svg
  docs/release-notes/changelog.rst
  litestar/_openapi/schema_generation/examples.py
  pyproject.toml
  tests/e2e/test_logging/test_structlog_to_file.py
  tests/unit/test_cli/test_cli.py
  tests/unit/test_connection/test_request.py
  uv.lock
Labels: Triage Required :hospital:, pr/external, pr/internal, area/ci, size: small, area/docs, area/private-api, area/dependencies, size: medium

#4254 chore: improve release note
  tools/prepare_release.py
Labels: Triage Required :hospital:, pr/external, size: small

#4258 ci: add manual docs things with selective input
  .github/workflows/docs.yml
Labels: pr/internal, area/ci, size: small

#4268 docs: fix lifespan migration from fastapi
  docs/migration/fastapi.rst
Labels: Triage Required :hospital:, pr/external, pr/internal, size: small, area/docs, type/docs

#4269 docs: fix literal include lines in 03-repository-controller
  docs/tutorials/repository-tutorial/03-repository-controller.rst
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs

#4266 docs: type hint in full_app_with_session_di.py
  docs/examples/contrib/sqlalchemy/plugins/tutorial/full_app_with_session_di.py
Labels: Triage Required :hospital:, pr/external, size: small, area/docs, type/docs
